[2015-03-20 18:40] dgoldensquared opened #2 "service descriptor json file naming"
Please note [service descriptor json file name](https://github.com/vert-x3/vertx-service-factory#service-descriptor) needs to match maven coords for [vertx-maven-service-factory](https://github.com/vert-x3/vertx-maven-service-factory) dynamic deployment to work correctly, see recent [vertx-dev discussion](https://groups.google.com/d/msg/vertx-dev/ecebSprWDRA/O4vtkumTFxcJ)

[2015-03-23 12:51] purplefox commented on #2
should be fixed now

[2015-03-23 12:52] #2 closed

[2015-04-15 10:23] purplefox opened #4 "Make usable from multiple contexts"
The current service is not thread safe and makes the assumption that it is always accessed from same context.

We should make it usable from different contexts.

[2015-04-22 03:03] secmask opened #5 "brpop/blpop handler was not called after timeout"
[code]

I am using blocking command like that, but the handler was not called after redis timeout.

[2015-05-07 15:27] aesteve opened #7 "Fail more gracefully if start is not called"
If you don't call `start` on the service before performing any operation, you get a strange behaviour.

For example with `scriptLoad` you'll get a NPE because encoding is not set (it must be set in the start method).

Here's a simple reproducer : https://github.com/aesteve/redis-client-bug

The working code is commented, if you run the main verticle it throws a NPE.

[2015-05-18 19:57] aesteve opened #8 "ClassCastException when using RangeLimitOptions"
Simply :

[code]

Will fail with a ClassCastException : Long cannot be cast to String.

Because of the cast here : https://github.com/vert-x3/vertx-redis-client/blob/master/src/main/java/io/vertx/redis/op/RangeLimitOptions.java#L49

which is invoked on two Longs : https://github.com/vert-x3/vertx-redis-client/blob/master/src/main/java/io/vertx/redis/op/LimitOptions.java#L49-L50

Maybe we could sim

[2015-05-22 10:24] aesteve opened #9 "Eval/EvalSha and number of keys/args"
When using eval or evalSha, the client checks that the list of keys and arguments are actually the same size.

I can't find a place in Redis documentation stating that it's a requirement. I think people should be able to specify a list of N keys and M values when using eval or evalSha.

With Vertx's redisClient, this fails because of :

https://github.com/vert-x3/vertx-redis-client/blob/master/src

[2015-06-03 14:37] pmlopes opened #12 "add missing commands"
Most of the 3.x version commands are missing (these regard to cluster management mostly)

[2015-06-05 15:04] purplefox commented on #8
fixed

[2015-06-05 15:04] #8 closed

[2015-06-05 15:22] purplefox commented on #7
The start method no longer exists so closing

[2015-06-05 15:22] #7 closed

[2015-06-05 15:29] purplefox commented on #9
fixed

[2015-06-05 15:29] #9 closed

[2015-06-05 15:42] #4 closed

[2015-06-15 19:50] #5 closed

[2015-06-30 10:34] qrman opened #15 "maven dependency"
It would be nice to see in docs correct maven dependency:

[code]

It took me a while to find it.

[2015-07-01 07:19] poiuytrez opened #17 "Weird problem when sending request to a basic Vert.x server with a basic Redis client."
I am currently working on a project where I need to receive an id number through a requests and then look if it is stored in my Redis database.

My project works well for one request or two, but when testing it with Jmeter and sending 3000 requests I noticed a weird problem.

I made a way more basic project and I published it to github to understand what was going on.

There is actually two proble

[2015-07-01 13:13] poiuytrez commented on #17
I will be glad to send you a virtual beer :+1:

[2015-07-01 13:18] pmlopes commented on #17
i think i've fixed it, the issue is related to handlers not being called in the right context so when there is lots of load even though the handler is called the context is wrong and there is no reference to the correct request... i am still testing it more and will make a pr this afternoon

[2015-07-02 11:29] poiuytrez commented on #17
Great ! Thank you !
http://beeroverip.org/random/

[2015-07-02 11:29] #17 closed

[2015-07-03 13:22] imavroukakis opened #19 "Redis Sentinel support"
Hi there, I was going through the source of RedisConnection and there's nothing in there to suggest Redis Sentinel is supported. Would you mind confirming?

Thanks!

[2015-07-03 19:12] pmlopes commented on #19
No, sentinel is not supported out of the box, it does however try to reconnect to redis if the connection is broken.

[2015-07-03 19:15] pmlopes commented on #17
@poiuytrez the issue is still being fixed, please follow the pr #18

[2015-07-03 19:35] imavroukakis commented on #19
Thanks Paulo, any plans of adding it?

[2015-07-03 22:40] imavroukakis opened #20 "_buffer in ReplyParse is not emptied at the end of the reply"
I was doing some profiling on an application and I noticed several instances of rather large `byte[]` arrays that aligned with the size of the object that I was retrieving from redis in `ReplyParse`. Here's a screenshot from the profiler.

![image](https://cloud.githubusercontent.com/assets/1764981/8505408/745c4e88-21dc-11e5-9a47-c974aa91347d.png)

Is it a conscious decision not to reset `_buffer`

[2015-07-04 07:29] pmlopes commented on #19
Not at the moment mostly because I am not familiar with sentinel, however we do accept pull requests 😉

[2015-07-04 07:30] pmlopes commented on #20
No, that's a bug I think.

[2015-07-04 10:07] imavroukakis commented on #20
Great, thought as much. The manifestation of this is mainly increased GC pressure, which detracts from performance.

[2015-07-04 18:50] pmlopes commented on #20
The internal buffer is clear on a subsequent message, the way the parser works is if the current internal buffer length is the same as the read offset then the internal buffer is replaced with the incoming one (this works when each message is delivered in a single buffer).

When messages have been broken into smaller pieces on a subsequent message if the read offset is not 0 then the internal buff

[2015-07-04 20:28] yanai opened #21 "brpoplpush should have Handler<AsyncResult<JsonObject>> parameter"
The current implementation for brpoplpush has Handler<AsyncResult<Void>> as it's last parameter. With existing singniture, there is no way to get the popped element in a single atomic operation.

The api should have the  Handler<AsyncResult<JsonObject>> parameter instead.

[2015-07-06 07:38] pmlopes commented on #21
thanks for noticing, i will fix asap

[2015-07-06 12:19] #15 closed

[2015-07-07 07:57] pmlopes commented on #19
If you think this is a important feature please vote for it here:

https://groups.google.com/forum/#!topic/vertx/5oDpfe3YhfA

[2015-07-09 08:27] #20 closed

[2015-07-13 12:49] pmlopes commented on #21
fixed on master

[2015-07-13 12:49] #21 closed

[2015-07-13 12:49] pmlopes commented on #12
fixed on master

[2015-07-13 12:49] #12 closed

[2015-07-13 14:23] yanai commented on #21
Great, Thanks
On Jul 13, 2015 3:49 PM, "Paulo Lopes" <notifications@github.com> wrote:

[2015-07-16 09:35] pmlopes opened #24 "exec returns array not void"
see: https://groups.google.com/forum/#!topic/vertx/bdZ1F4PbcdQ

[2015-07-16 09:42] #24 closed

[2015-07-22 10:49] secmask opened #26 "support timeout option"
Does vertx-redis-client support timeout? I need redis command to be finish in some milliseconds, how can I do it?

[2015-07-22 19:30] pmlopes commented on #26
Just use a vertx timer for that, that would be the easiest.

[2015-07-23 02:39] secmask commented on #26
So does the redis handler get call after that?, can I use redis-client for other command in timer handler context?

[2015-07-28 11:41] pmlopes commented on #26
here some code:
[code]

So you declare the handler outside the redis command, and wrap it with a timer, in this case i set call failure if no reply arrives in 30 seconds. If a reply arrives before it cancels the timer and delegates to your handler, if a timer has already been triggered and a reply comes later the cancel timer returns false since the timer does not exist anymore and your handler is

[2015-07-28 14:37] WindcodeFr opened #27 "[Question] Redis Pub/Sub"
Does vertx-redis-client support correctly the pub/sub system of redis.
I have some issues with the subscription part of the system.

         vertx.eventBus().<JsonObject>consumer("redis.sub.channel1", received -> {
            // do whatever you need to do with your message
            JsonObject value = received.body().getJsonObject("value");
            // the value is a JSON doc with the follo

[2015-07-29 07:37] pmlopes commented on #27
@WindcodeFr which version are you using? unfortunately version 3.0.0 was shipped with that part of the code broken.  Ever since that I've worked on fixing it and adding tests for pub sub but that will not be available until 3.1 or any not yet scheduled 3.0.x release. If you are just experimenting I would suggest to try the 3.1.0-SNAPSHOT version and see if it works for you.

[2015-07-29 09:48] WindcodeFr commented on #27
@pmlopes I'm currently using the version 3.0.0. I have try with the 3.1.0-SNAPSHOT and the Pub/Sub system seems to work correctly if we use "io.vertx.redis.channel1" as address for the consumer.

I have notice also a NullPointerException when the connection can't be open during initialization (3.1.0-SNAPSHOT).
[code]

Thank you for your answer. You did a great work.

[2015-07-31 15:27] pmlopes commented on #27
Thanks for the report, I'll check the npe

[2015-08-03 18:43] #27 closed

[2015-08-22 06:35] secmask commented on #26
hello, I'm back, I still need to clear the state of RedisClient after the timeout fire.
for example, I have follow sequence:

browser request - > RedisClient -> send request -> server busy for a moment -> client fire timedout handler ->
next browser request -> RedisClient -> send request -> server response for the first request

For now, is there any risk that the second request will get the reply

[2015-08-24 07:12] pmlopes commented on #26
for each request you specify a handler (callback if you prefer) this handler is specific to the command so ignoring it means that the handler if triggered but you then have some logic to ignore any further processing. This means that no handler will receive replies from other requests it is 1 to 1 mapping.

[2015-08-24 08:28] secmask commented on #26
Yes, I see, but when the timeout fired, how RedisClient handle the late incoming reply (discard it? ), does RedisClient clear the receive buffer before send a command? should I close the RedisClient instance and create a new one for safe?
Thanks for your explain.

[2015-08-24 08:45] pmlopes commented on #26
hi, there is no receive buffer, what happens is like this:

your code sends a command and passes a handler, the redis client has a FIFO where the handlers are added, once a reply arrives from the redis server the top of the FIFO is removed and called with the incoming message. Now the timer has to do the following:

if handler has not been called, then mark it to do nothing once it is called by th

[2015-08-24 09:07] secmask commented on #26
ok, I was forget that the first response was ignore by this block
[code]
Thank you.

[2015-08-31 09:02] aneb01 opened #28 "Scan return type"
scan
zscan
sscan

Should return type JsonArray and not Void.

Same issue as with exec call before.

[2015-08-31 09:55] pmlopes commented on #28
Thanks for the report

[2015-08-31 09:55] #28 closed

[2015-09-08 11:23] pmlopes opened #29 "bad behavior when running on high load"
reproducer: https://github.com/exanj/testRedis

[2015-09-08 15:06] #29 closed

[2015-09-09 00:34] alanma opened #30 "Eval not returning object type of result"
In Jedis client, Eval op will return Object. But in redis-client here we return nothing with a void type. Any specific reason that we could not return object type? I could work on a PR if we want the eval and eval sha to be able to return object type data.

Thanks.

[2015-09-09 14:54] pmlopes commented on #30
We do not use jedis and due to the fact that we use codegen to generate the polyglot API there is no possibility to declare that the return is os type Object. We need to extend the API to have probably the following method:

evalLong, evalString, evalArray plus the same for evalSha where we explicitly declare the return type on the method signature.

[2015-09-10 05:09] alanma opened #31 "Redis client reconnect fails without AUTH"
@pmlopes

My redis server has AUTh required. So when I initialize my redis client, I have to manually call AUTH command after creating the redis client. Now I am seeing my redis-client losing connection to my redis server - not sure why yet - but reconnecting to the redis server does not call AUTH command. Therefore, queued commands won't be able to run after trying reconnecting with the exception

[2015-09-10 07:03] pmlopes commented on #31
This is a feature that was not backported from the old redis client. Basically the old client connect call did 3 things:

* connect
* issue `auth` command if auth is in use
* issue `select` if select command was in use

This was making the assumption that no commands would be issued in between and that once authenticated or desired db was selected those values would not change. To my view the prop

[2015-09-14 14:06] pmlopes commented on #30
After discussing with the team we can create a single `eval` that always returns an redis Multi, in case the return is a Bulk or a Number we wrap it in a single element Multi

[2015-09-17 03:34] alanma commented on #31
@pmlopes making perfect sense to me with the connectHandler. thanks again.

[2015-09-17 07:34] pmlopes commented on #31
I did start by implementing this for the PR that is linked to this issue, however this solution has a shortcoming which is that due to the async nature of the code i have no knowledge when the connectionHandler code is complete and its final state. Without knowing this i cannot keep the queue of commands to retry on connection loss (since i can only retry after the handler is complete and successf

[2015-09-17 10:51] pmlopes commented on #30
@alanma could you make a review to PR #32 .

[2015-09-24 12:59] #31 closed

[2015-09-25 01:54] ajaysarda commented on #19
Sent a pull request for sentinel support: https://github.com/vert-x3/vertx-redis-client/pull/35.

[2015-09-25 17:51] ajaysarda commented on #19
Sent a pull request for sentinel support: #36

[2015-10-01 13:21] #30 closed

[2015-10-01 13:57] #26 closed

[2015-10-14 02:34] aneb01 opened #38 "Redisclient throwing ArrayIndexOutOfBoundsExceptions under heavy load in 3.1"
Hi,

Yesterday I upgraded my project to use 3.1 but currently running into problems with code that was working fine in 3.0.

At the moment, when under heavy load or sometimes at random,  heavy redis operations are throwing exceptions.  Like zcan,zrange,lrange etc.

I haven't created a reproducer but the code I am testing with is so basic and stripped down I can just post it here:

[code]

Error I

[2015-10-14 02:53] aneb01 commented on #38
maybe for testing purposes: that key I am testing with is a ZSET in my database with 1 row,
value: a09a4013-8856-487b-ba2e-fa464b35b8fc
score: 1

[2015-10-14 07:21] pmlopes commented on #38
@aneb01 Can you verify the fix above, i created a test and added a guard for the index out of bounds exception but i cannot reproduce it, mostly because i am using it agains redis running on my localhost i think.

[2015-10-14 07:27] aneb01 commented on #38
Perfect, will test it asap and let you know the result.

Thanks for the very fast response.

[2015-10-14 09:19] aneb01 commented on #38
Problems seems fixed.  Still running into an java.lang.ClassCastException: java.lang.Long cannot be cast to [Lio.vertx.redis.impl.Reply; error in the RedisConnection handler I did not have before but I will debug that more before creating an issue.

Either way the ArrayIndexOutOfBoundsError is fixed.

Thanks a lot!

[2015-10-14 10:06] pmlopes commented on #38
ok, if you can, please provide more info about the ClassCastException as a new issue and I'll have a look.

[2015-10-14 11:04] #38 closed

[2015-10-20 02:17] RichardHightower opened #40 "redisClient.setBinary should take a byte[] or a Buffer not a String (reference jedis)"
[code]

[2015-10-20 02:19] RichardHightower opened #41 "redisClient.setBinaryWithOptions method is missing (ref jedis)"
[code]

[2015-10-20 07:05] pmlopes commented on #40
We cannot use byte[] as argument due to the fact that the code generator for the polyglot side of the project mandates that that type shall not be allowed since not all languages have the same mapping of types.

On a side note, this method should not even exist since it is not a redis command at all.

Due to this limitation we cannot fix this.

[2015-10-20 07:09] pmlopes commented on #41
since we already have this API (although not a redis command) we should have the full implementation.

Note however that we do not use jedis or any other redis client underneath so do not assume that if an API exists on other drivers it should exist here.

[2015-10-20 17:59] RichardHightower commented on #40
Redis makes no distinction between binary string and text string.
Java, Groovy, Scala, etc. do.

"binary safe, this means that you can use any binary sequence as a key" http://redis.io/topics/data-types-intro.

http://redis.io/topics/data-types-intro

redisClient.setBinary should take a Buffer. A vertx buffer. There should be a way to set a binary string aka a Buffer aka a byte array into Redis.

[2015-10-20 18:01] RichardHightower commented on #41
I know you are not using jedis. Jedis has this because it makes sense. I was referring to prior art.

Redis does not make a distinction between text and binary with the set method.
Java, Scala, JavaScript, Groovy, etc. do.

This is why we need a version of setBinary and setBinaryWithOptions that take a Vertx Buffer so that we can set binary data into Redis.

See Jedis for prior art.

[2015-10-20 18:15] pmlopes commented on #40
yes, what setBinary does it encoding Strings using ISO8859-1 which is quite close to ASCII so binary strings can be encoded without loosing data due to UTF8 encoding.

What you are proposing, using a Buffer could work, but I think that we should also update getBinary to return a Buffer too.

[2015-10-20 18:27] RichardHightower commented on #40
I agree. I was just looking through the code. Seems you pass around a JSON Array to hold the values. Which makes passing around buffers a bit tricky.

So it seems a good workaround until we get buffers for get/set is to use  ISO8859-1.

WRT:
[code]

So strings are UTF 16 in Java by default. So you are saying a UTF-16 can be converted into a ISO8859-1 encoding to/for without data loss, but it seems

[2015-10-20 18:28] RichardHightower commented on #40
I think the JSON Array is the wrong data construct to pass about.
You need to fork it, and add Buffers.

[2015-11-09 23:01] PatrickSauts opened #44 "master slave configuration / amazon elasticache"
How do you configure vertx-redis-client for master slave configuration / amazon elasticache?

[2015-11-09 23:10] PatrickSauts opened #45 "Kryo serialization"
Any plan on using Kryo serializer.
It's one of the fastest.
https://github.com/eishay/jvm-serializers/wiki
https://code.google.com/p/kryo/

And unlike protobuff it doesn't need any pre configuration.

[2015-11-11 20:09] PatrickSauts opened #46 "Selecting Database works for writing a value but not getting it back."
When So I wrote this test

According to the documentation selecting a database using select changes it for the current connection

[code]

But, when writing then reading, the value is not retrieved.
It works fine if I comment out the ```redis.select``` part.

[code]

Am I doing something wrong ?

[2015-11-11 21:38] pmlopes commented on #45
Kryo has no relation to redis. Redis has no need for serialization since it is a key store, any string or buffer should be all redis needs. If you want to replace json with kryo you need to do it at vert.x core level.

[2015-11-11 21:38] #45 closed

[2015-11-11 21:44] pmlopes commented on #44
This is a pure redis config question not a issue.

I think all you need to do is that on your slave you need to issue the command:

[code]

where IP and PORT are the ip and port of the master, now from you code just connect as usual.

[2015-11-11 21:48] PatrickSauts commented on #44
Well I believe it's a litle bit more than that, because of java dns caching and the way amazon re-elect a master.

For example redisson add to fix it https://github.com/mrniko/redisson/issues/165

[2015-11-12 00:41] PatrickSauts commented on #46
I was missing

Async async = context.async();

[2015-11-12 00:52] PatrickSauts commented on #46
sorry I'm new to Vertx

[2015-11-12 00:52] #46 closed

[2015-11-12 15:20] pmlopes commented on #44
The issue is with DNS, if caching is a problem that should be addressed at https://github.com/eclipse/vert.x because we build the redis protocol on top of it and we do not do anything low level like DNS in our code. If this turns to be an issue (i cannot confirm it because i have no test or a free AWS account) then let us know in the core project,

[2015-11-16 20:42] renatolond opened #47 "Redis pipeline"
Hello!
Redis supports commands sent in a pipeline. This reduces network traffic as well as turns some commands into a sort of commit block. Is there any plans to implement a pipeline?

[2015-11-17 08:05] pmlopes commented on #47
This is how the implementation works: the implementation follows the spec: http://redis.io/topics/pipelining

[2015-11-17 08:05] #47 closed

[2015-11-17 11:49] renatolond commented on #47
Sorry if I wasn't clear, in some implementations, like jedis, you can explicitly open a pipeline, ensuring that a couple of commands will be necessarily sent in a block. (https://github.com/xetorthio/jedis/wiki/AdvancedUsage#pipelining)
As far as I've seen, there is no way to do something like that in vertx-redis-client, is there plans to implement something like this? Or am I missing it?

[2015-11-17 12:12] pmlopes commented on #47
As i wrote the implementation only works in pipeline mode, so if you do something like:

[code]

and if you would see what is happening at the  network level you would see that in one TCP connection the client writes:

[code]
And then the responses start coming back (probably interleaved with the writes) and get delivered to the correct handler.

Vert.x redis client was implemented from scratch to

[2015-11-19 05:09] enjory520 opened #48 "hgetall bug?"
i use hgetall get hash data ,sometime will bring this error
error msg:
'''
java.lang.ArrayIndexOutOfBoundsException: 66
	at io.netty.buffer.UnpooledHeapByteBuf._getByte(UnpooledHeapByteBuf.java:292)
	at io.netty.buffer.UnpooledHeapByteBuf.getByte(UnpooledHeapByteBuf.java:287)
	at io.netty.buffer.WrappedByteBuf.getByte(WrappedByteBuf.java:205)
	at io.vertx.core.buffer.impl.BufferImpl.getByte(Buffer

[2015-11-19 07:43] pmlopes commented on #48
can you provide a reproducer? your exception lets me that the client expects a multi-bulk message while it got a bulk, i need some context to understand what is happening

[2015-11-19 09:00] enjory520 commented on #48
i create a RedisClient when the service create.it has been use whole cycle llfe.
and i test it by high concurrency

[2015-11-19 09:14] pmlopes commented on #48
That is tool vague, could you please create a small test case/example showing the issue?

[2015-11-19 15:01] #41 closed

[2015-11-19 15:03] #40 closed

[2015-11-19 15:50] #44 closed

[2015-11-20 07:46] enjory520 commented on #48
can you give me a email address?
i sent my code to you

[2015-11-20 19:03] RichardHightower commented on #41
nice

[2015-11-24 13:55] pmlopes commented on #48
I'd rather have a small reproducer so we can use it later on as a regression test. Also have you tried the code with the latest git version? there have been many fixes for 3.2 release and it could happen that your issue is already fixed...

However i'd advise to write a small reproducer...

[2015-12-02 11:39] lxyu commented on #38
Have the same problem, is there a date for a release with this patch?

[2015-12-02 11:56] pmlopes commented on #38
We are planning to release 3.2 in the coming weeks (the plan is to have it out before Christmas).

[2015-12-03 07:21] lxyu commented on #38
Thanks, looking forward to it! :+1:

[2016-01-20 12:54] pmlopes commented on #48
Due to inactivity and lack of a reproducer i'll close this issue, if it still happens feel free to reopen and add a reproducer.

[2016-01-20 12:54] #48 closed

[2016-01-27 17:13] pmlopes opened #49 "add missing geo api"
http://redis.io/commands#geo

[2016-01-29 10:22] pmlopes commented on #49
This commit can only be continued once we have an official redis build with the GEO api to test againts (and write test)

[2016-03-06 05:10] brianjcj opened #50 "setWithOptions shall return a result of String type"
setWithOptions shall return a result of String type, install of Void. Otherwise it is no way to know the exact result when NX option is used.
SET command return string OK or (nil)

[2016-03-09 09:18] pmlopes commented on #50
according to the docs: http://redis.io/commands/set

the new SET command can return both OK or nil (this should only apply when using options) so API for `setWithOptions` was wrong and should be fixed.

[2016-03-11 14:55] #50 closed

[2016-03-19 21:41] Ashwin-Surana opened #52 "java.lang.ClassCastException, While using hgetall in a transaction"
Snippet code:
[code]
hgetall command inside a transaction always generates a CastException.
[code]

[2016-03-22 18:49] telecoder commented on #47
In the redis documentation they use an example where 10k commands are pipelined so they are send at the same time, then the client wait for the replies.

From your example it looks like the amount of redis commands that use the pipeline is not configurable or predicted.

How the vertx redis client exactly behaves?

[2016-03-23 01:30] hjianhao opened #53 "Is there a plan to support SSL connection?"
For production usage, we need to connect redis with SSL connection, but seems like vert.x's redis client not supporting this feature?

[2016-03-23 08:56] pmlopes commented on #53
Redis does not support SSL see: http://redis.io/topics/security

It clearly states the server should be running in a trusted network and not publicly on the internet.

[2016-03-23 08:59] pmlopes commented on #47
it is an unbounded list at the moment, it grows as long as you have memory. Of course there is room for improvement here, if you think we should have a configurable limit, please open a new issue and discuss what should be the sensible default, what should be the behavior when the commands in the queue go over this value, etc...

[2016-04-07 08:15] helun commented on #52
This also happens for commands issued after multiObservable when using the io.vertx.rxjava.redis.RedisClient. Calling subscribe or chaining commands in flatMap causes the same ClassCastException

[2016-04-07 14:30] #53 closed

[2016-05-04 14:09] #52 closed

[2016-05-20 06:43] sunnyawake5 opened #57 "redis pub/sub documentation error"
in pub/sub mode, currently the channel prefix in the documentation is "redis.sub.", which is not working and should be "io.vertx.redis." according to repo test code.

vertx: 3.2.1
redis:3.2

[2016-05-20 07:15] #57 closed

[2016-05-20 13:54] pmlopes commented on #49
API is now stable, we can only test on the latest redis which is not available on the embedded redis server

[2016-05-26 09:15] #49 closed

[2016-06-02 10:56] edgar615 opened #58 "ClassCastException, while using spopMany"
### Version

* vert.x core:3.2.1
* vert.x redis client:3.2.1

<pre>
    redisClient.spopMany("FOO", 3, ar -> {
      if (ar.succeeded()) {
        System.out.println(ar.result());
      } else {
        System.out.println(ar.cause());
      }
    });
</pre>

the result of  ` SPOP key [count] `  should be JsonArray
exception:

[2016-06-03 12:50] #58 closed

[2016-06-24 07:31] cet63 opened #60 "About vertx-redis-client, the Pub/Sub mode"
### Version

* vert.x core:3.2.1
* vert.x redis client:3.2.1

* Jedis 2.7.3
* MSGPACK 0.6.11

### Context

I have a redis server for pub/sub.

Jedis  is used to publish byte[] message to the redis channel,
and the byte array is produced by  MSGPACK .

When I received the published msg from the eventbus, I cannot decode the msg with MSGPACK .

After debugging, I think the problem encounted at class

[2016-06-24 08:25] pmlopes commented on #60
Given your exception can you compare the 2 byte arrays it does look like you're having an encoding issue, rather than a driver issue.

When dealing with binary content you should not use `UTF-8` encoding since due to its encoding format the conversion from `String` to `byte[]` might introduce extra bytes, as an example a `char` can be encoded in for example 4 `bytes`.

So when dealing with binary

[2016-06-24 13:15] cet63 commented on #60
Thank you, pmlopes.
I will test the `ISO-8859-1` encoding  next monday and make feedback.

But why not return the binary data as a Buffer directly here?

[2016-06-27 01:40] cet63 commented on #60
Thank you, pmlopes.
The problem has been resloved according to your suggestion.

[2016-06-28 13:39] pmlopes opened #61 "java.lang.ClassCastException: java.lang.Long cannot be cast to [Lio.vertx.redis.impl.Reply;"
_From @hansen2014 on June 28, 2016 9:58_

RedisTransaction rtx = redisClient.transaction();

		rtx.multi(r -> {

			String setKey = RepositoryHelper.createKSKey("SessionScreenSymbol", clientCd, sessionId, viewNum);

			List<String> keyList = new ArrayList<>();
			for (String data : delS) {
				keyList.add(data);
				rtx.del(data, r1 -> {
					GLog.info("trans del executing ..., result: {} ", r1);

[2016-06-28 14:06] pmlopes commented on #60
That would be an API improvement ;) there are 2 options: return the payload as base64 so the encoding is not an issue anymore; add an api to return a buffer directly but that will loose the metadata since it cannot be mixed with the binary payload

[2016-06-28 20:04] PatrickSauts commented on #4
Is it thread safe now ? I'm having problems accessing it from different contexts

[2016-06-29 05:09] cet63 commented on #60
Thanks for your response,  :)

[2016-06-29 05:18] aneb01 commented on #61
Hi pmlopes,

Probably same issue as the one we were having before https://groups.google.com/forum/#!topic/vertx/mG-jE3rYpw0

[2016-06-29 07:50] pmlopes commented on #4
There was work done regarding this problem and it should be usable across contexts, however if you have an issue could you make a reproducer so we can investigate it further?

[2016-06-29 07:51] pmlopes commented on #60
@cet63 if you have some time and want to make vert.x even better, feel free to propose a pull request ;)

[2016-06-29 08:54] pmlopes commented on #61
@aneb01 @hansen2014 the issue (at least from the reproducer from Yves) seems to be related to the lazy connect. As a quick workaround for it you can issue a ping command and wait for a reply before starting to hammering the server, once the connection is properly established the issue does not reproduce on my side. e.g.:

[code]

As a proper fix I'll initiate the connection once the redis client o

[2016-06-29 09:07] aneb01 commented on #61
Many thanks.

I will try it out tomorrow morning and let you know.

[2016-06-30 02:48] hansen2014 commented on #61
@pmlopes  the problem still exists .

redisClient.ping(p -> {

				if (p.succeeded()) {

					RedisTransaction rtx = redisClient.transaction();

					rtx.multi(r -> {

						String setKey = RepositoryHelper.createKSKey("SessionScreenSymbol", clientCd, sessionId,
								viewNum);

						List<String> keyList = new ArrayList<>();
						for (String data : delS) {
							keyList.add(data);
							rtx.

[2016-06-30 04:30] aneb01 commented on #61
In my project the problem is also still occurring. Strangely enough in my case the problem only occurs  when I am using one single redis client connection as a singleton for my application (shared throughout many verticles).  If I create a new redis client per verticle then this problem does not, anymore (as it did in the past), occur.

Maybe I better  wait until hansen2014's problem is fixed and

[2016-07-01 12:40] pmlopes commented on #61
@aneb01 and @hansen2014 could you guys verify https://github.com/vert-x3/vertx-redis-client/pull/62 that it also works for you?

I've been load testing with several scenarios:

* 1, 8, 32 event loops
* 1 Verticle 1, 8 instances
* 1, 100 clients per verticle

I don't see the issue anymore but you guys have different scenarios maybe I still missed something

[2016-07-04 01:57] aneb01 commented on #61
I ran some quick tests and it seems that the issue is fixed for me. No more class cast exceptions are being thrown.

Seems fixed to me.  Thank you very much.

[2016-07-04 02:36] hansen2014 commented on #61
@pmlopes  so sorry,  i used the version 3.3.1-SNAPSHOT for test, but the same exception occured , about one-tenth.

[2016-07-04 07:28] pmlopes commented on #61
@hansen2014 can you then provide me a full working example showing the problem, I was using @aneb01 example to reproduce the issue and his case is solved, i guess that you are using the client in a different way that we haven't thought about...

I don't need you application just a a simple verticle that uses the redis client and if we do a big loop or something shows your problem.

[2016-07-05 07:14] hansen2014 commented on #61
@pmlopes it seems that RedisClient can not be used in Worker Verticle . I changed other way , the problem no more appear. Thank you very much .

[2016-07-05 07:26] pmlopes commented on #61
@hansen2014 worker verticles are supposed to be used when you are working with blocking APIs which will then delegate to a thread pool for execution. If you're interested in the best performance you should try to avoid them.

Indeed since redis client is async that scenario was never considered and/or tested. I'll try to run some worker verticle tests and see if there is something I can do to impr

[2016-07-05 07:33] pmlopes commented on #61
My worker tests also seem to work fine:

[code]

[code]

@hansen2014  if you can modify this to show the error, we'll continue otherwise we'll consider the issue as fixed.

[2016-07-05 07:44] hansen2014 commented on #61
sorry , i make a mistake,  it can not used in multi-threaded worker verticle. the exceptio like that:

`java.lang.IllegalStateException: Cannot use NetClient in a multi-threaded worker verticle
	at io.vertx.core.net.impl.NetClientImpl.<init>(NetClientImpl.java:85)
	at io.vertx.core.net.impl.NetClientImpl.<init>(NetClientImpl.java:69)
	at io.vertx.core.impl.VertxImpl.createNetClient(VertxImpl.java:

[2016-07-05 08:26] aneb01 commented on #61
For what it's worth: I also use vertx-redis-client in worker verticles and that does not seem to give any problems. I do remember that the multi threaded setting @hansen2014 mentioned gave problems in the past. However currently I am not using that anymore.

Slightly off topic: Paulo your comment about the worker verticles made me rethink my implementation though and wonder my I started using work

[2016-07-05 08:39] pmlopes commented on #61
All Vert.x handlers are async by nature and won't block the eventloop, blocking methods are clearly labelled as so, e.g. on the filesystem object you have: `createFileBlocking` to denote that this variant is blocking.

Redis client is also 100% async, no non-blocking.

Message timeouts are not related to main thread being blocked, as you noted it is just a control that a reply was not received on

[2016-07-05 08:42] aneb01 commented on #61
Thanks for the fast feedback as always.

[2016-07-05 08:43] pmlopes commented on #61
@hansen2014 ok, the multi thread exception is not related to this issue. You can work around it if you really need to use multi thread. Deploy your redis client and I/O operations as a standard verticle and register some address on the event bus. Then from your blocking (worker) multithreaded code you can send messages to the event bus that are delivered to the async verticle.

[2016-07-06 12:37] #61 closed

[2016-07-21 08:54] Centaur commented on #4
@pmlopes Do you mean that we can use a single RedisClient instance for all request invoked from different threads?  I was looking for a connection pool for vertx-redis-client, if a single instance works, can we say that a connection pool is no longer necessary?

[2016-07-21 11:58] pmlopes commented on #4
as of 3.3.1 using the client from any context has been tested and fixed. The client always works on pipeline mode so it can be shared across several verticles/handlers. If you're facing the i/o limits of a single connection then you can create several clients and round robin for example.

[2016-08-03 13:34] pmlopes commented on #60
There is now a option in RedisOptions to specify that messages to and from redis are binary. So all returned strings can safely be converted to/from byte[] without conversion issues.

[2016-08-26 01:58] brianjcj opened #63 "Implement rxjava.redis.RedisClient's observables as COLD observables instead of HOT ones"
Implement rxjava.redis.RedisClient's observables as COLD observables instead of HOT ones.
It will be much better for lazy execute, free to retry and easy to make sophisicated observable combination.

[2016-08-29 08:01] pmlopes commented on #63
RX implementation is managed by codegen, that would need to be handled there and it would then apply to all RX bindings.

[2016-09-02 11:48] pmlopes commented on #60
Given that it is now possible to specify in the options that a strings should be handled as binary (ascii) I'll close this issue. The question about why not have byte[] as a type is open and cannot be answered right now for several reasons:

1. it will break the api
2. codegen will not recognize byte[]
3. redis itself works with utf8 strings so assuming that they are ASCII it is probably a bad pra

[2016-09-02 11:48] #60 closed

[2016-09-08 13:28] zeref1993 opened #64 "Redis client handler is not being called."
### Version
- vert.x core:3.3.2
- vert.x redis client:3.3.2
### Context

Hi,
 We are calling the following code in execute blocking in event loop
redisClient.setex(demandFactorRedisKeyPrefix + key, keyExpiry, value, r -> {
log.info("inside handler");
}

We have 8 verticles and redisclient is a static variable shared across all verticle instances. Redisclient is initialized by passing one of the ve

[2016-09-15 07:51] pmlopes commented on #64
In order to debug we need a reproducer example.

[2016-10-01 09:38] vietj opened #65 "RedisConnection state corrupted by connection RST"
The `RedisConnection` update its state when it handles an exception because buffers could still be in the `NetSocket ` and delivered which corrupt the state of the `RedisConnection`.

Change it to only close the `NetSocket ` and perform this state update in the `NetSocket#closeHandler` when we are sure no buffer event will be delivered.

[2016-10-03 21:12] vietj opened #66 "RedisConnection must always uses an EventLoop thread"
Currently the `RedisConnection` may unsafely share its state when:

- executed from an `executeBlocking` lambda
- used from a _worker_ context

make sure that in these case we uses the correct thread.

[2016-10-05 06:56] #65 closed

[2016-10-05 06:56] #66 closed

[2016-10-07 11:46] pmlopes opened #68 "make client less opionated"
Currently the client will behind the scenes enqueue request until it manages to connect to the server, it will try to reconnect on error and hold messages that have not been processed and attempt to handle them once a connection is available. It will also switch from pub/sub mode to normal mode and establish 2 connections so regular calls do not interfere with each other.

Although this is quite n

[2016-11-08 05:24] fooevr opened #69 "can't continue subscribe while reconnected"
### Version

* vert.x core:3.3.3
* vert.x redis client:3.3.3

### Context

can't continue subscribe while reconnected, or how to handle connection's reconnect event?

[2016-11-12 17:04] vietj opened #70 "Investigate redis push as ReadStream"
### Version

* vert.x core:
* vert.x redis client:

### Context

I encountered an exception which looks suspicious while ...

### Do you have a reproducer?

* Link to github project/gist

### Steps to reproduce

1. ...
2. ...
3. ...
4. ...

### Extra

* Anything that can be relevant

[2016-11-12 17:04] vietj commented on #63
@brianjcj can you give an example ? we are planning to have more cold observable indeed soon

[2016-11-25 09:56] jebbench opened #71 "setex takes ttl as a long, expire as an int"
### Version

* vert.x core: 3.3.3
* vert.x redis client: 3.3.3

### Context
The `setex` method requires that the number of seconds until expiry is provided as a `long` however the `expire` method requires an `int`; maybe there's a good reason for this that I'm missing but it seems inconsistent (in my case I have a object with a `getTtl` method which returns a long (I used `setex` first) but I'm ha

[2016-11-25 14:32] pmlopes commented on #71
That is an API inconsistency bug. Redis integers are always 64bit long, so all integer values in the API should of of java type `long`

[2016-12-09 18:47] aesteve opened #72 "Performance issues when huge results / command args"
### Version

* vert.x core: 3.3.3
* vert.x redis client: 3.3.3

### Context

800000 keys in Redis. Single core. Single Verticle instance. Single HTTP request.
Keys are :  ` 25.1234567` (two numbers separated by a dot)

First use case (for the sake of the example I'm omitting the async part) :
`JsonArray theKeys = redis.scan("25.*")` => returns the 800000 keys (in real life there'll be more than 80

[2016-12-11 06:34] pmlopes commented on #72
For large datasets you should avoid hmgetall because it will perform a transformation from redid list to json.

[2016-12-11 17:21] aesteve commented on #72
Thanks @pmlopes .

So, just to be clear, in my case (`zrangebyscore` returning a lot of records, not `hmgetall`) it is expected to be causing issues with JSON marshalling / unmarshalling.

If not please re-open the issue ;)

I'll try to find another asynchronous solution (either re-mapping, or attacking redis directly, idk).

Thanks for confirming.

[2016-12-11 17:21] #72 closed

[2016-12-28 03:34] Justlikedance opened #73 "support redis cluster?"
Hello, does the vertx-redis support redis cluster ? I could not found any thing about it. If support, could you give me a demo please.

[2016-12-30 19:59] pmlopes commented on #73
No it doesn't. There were some attempts by the community but no real implementation exists. It could be something to think for the next release or to be done by the community.

[2016-12-31 03:03] Justlikedance commented on #73
Oh, thanks.

[2016-12-31 03:03] #73 closed

[2017-01-10 04:12] Centaur opened #74 "`RedisTransaction.smembers` has incorrect handler type"
### Version

* vert.x core: 3.3.3
* vert.x redis client: 3.3.3

### Context

should be `Handler<AsyncResult<JsonArray>>` but is `Handler<AsyncResult<String>>`

https://github.com/vert-x3/vertx-redis-client/blob/master/src/main/java/io/vertx/redis/RedisTransaction.java#L1982

`RedisClient.smembers` is correct

https://github.com/vert-x3/vertx-redis-client/blob/master/src/main/java/io/vertx/redis/im

[2017-01-10 11:49] #74 closed

[2017-01-17 05:04] ltamrazov commented on #26
Sorry, but I don't understand why this issue was closed. Has this been resolved? I think the vertx timer is simply a workaround. Its strange that a storage library like Redis would not natively support a timeout option...

[2017-01-17 14:52] pmlopes commented on #26
@ltamrazov Redis does not support timeout see their docs: https://redis.io/commands

You can add it to your code as stated in these comments but that would not be in any way related to redis and it can introduce strange behaviour. For example if a DEL command takes too long you would trigger a timeout and assume it failed but since redis does not have the concept of timeout with enough time and if

[2017-01-18 09:50] pmlopes commented on #64
Since there is no reproducer to allow testing this issue, I'll close it until more info is available.

[2017-01-18 09:50] #64 closed

[2017-01-18 21:08] mikand13 commented on #19
Hey, any progress on this? If not, any way I can help?

[2017-01-19 07:56] pmlopes commented on #19
@mikand13 if you can help, please do, the PR is stalled for a long time mostly because of a huge merge conflict, if you are willing to help, please take it over!

[2017-01-19 09:45] imavroukakis commented on #19
https://github.com/vert-x3/vertx-redis-client/pull/36

[2017-01-19 09:53] pmlopes commented on #19
Yes that is the original PR related to this issue. As you can see it is not complete, it has conflicts and apparently it does not follow the redis requirements as @brianjcj wrote.

[2017-01-19 12:21] imavroukakis commented on #19
@mikand13 shall we review?

[2017-01-19 21:31] mikand13 commented on #19
@pmlopes @imavroukakis I have a release coming up in the near future so i cant commit to this immediatly but its something we are going to want and need pretty soon.

So give me a couple of weeks to look into the inner workings of redis-client, the redis specs and the pull request and ill get back to you. Sound ok?

[2017-01-23 14:29] ltamrazov commented on #26
Yes, agreed. Thanks for the clarification.

[2017-01-31 10:21] avivcarmis opened #75 "Incorrect types on RedisTransaction"
List operations (`lrange`, `lrem`, etc...) receive `Handler<AsyncResult<String>>` instead of `Handler<AsyncResult<JsonArray>>` and raises a Cast exception when performing:

[code]

[2017-01-31 11:19] avivcarmis commented on #75
After playing with the client a bit i understood i have to explicitly call `transaction`::`multi`.
Is there any docs for the client?
All I've seen was just the basic `get` method.
Thanks.

[2017-01-31 11:19] #75 closed

[2017-03-10 12:34] jmaasing commented on #68
It is also not currently possible to set Net client options such as idle timeout. Meaning if redis hangs the client hangs. It would be useful if the user of the API could have control over the connection settings.

[2017-03-17 14:18] tenitram commented on #69
I have got the same issue. Steps to reproduce:

Redis client configured setup for pub-sub mode. Everything works perfectly - events are being passed to sub. After I stop redis for a second, start it again, then sub part is not receiving events, but pub is not failing:

`redisPub.publish("web-notify", messageBody, res -> {
    if(res.failed()){
        LOG.error(res.cause());
     }
});`

No ERROR

[2017-05-03 12:16] orre commented on #19
I have created a new pull request for Sentinel support #80 . I think it corrects the shortcomings noted so far (in particular not supporting the Sentinel Client Guidelines). Hope it will make it all the way this time...

[2017-05-03 12:19] pmlopes commented on #19
@orre Thanks!

[2017-05-04 11:45] #71 closed

[2017-05-07 09:04] pmlopes commented on #70
See comments: https://groups.google.com/forum/m/#!topic/vertx/wM0R4iBia-s

[2017-05-26 06:36] manucr619 commented on #19
Is there any update on this ??

[2017-05-26 20:04] pmlopes commented on #19
This is a major new feature we should try to get it in for 3.5, of course we need to review it first. Currently we're busy with 3.4.2 which should be all about fixing bugs and no real new features.

[2017-05-28 13:10] chefhoobajoob opened #81 "blpop produces connection closed error when timeout has expired"
### Version

* vert.x core: 3.4.1
* vert.x redis client: 3.4.1
* using dockerhub redis: https://hub.docker.com/_/redis/
  * started with: `docker run --name redis-container -p 6379:6379 -d redis redis-server --appendonly yes`

### Context

I encountered an exception which looks suspicious while issuing `blpop`

### Do you have a reproducer?

no

### Steps to reproduce

1. Assume a redis list with

[2017-05-28 13:17] chefhoobajoob commented on #81
Whoops - sorry, had a mishandledd reply handler. Not a problem.

[2017-05-28 13:17] #81 closed

[2017-06-08 19:18] #69 closed

[2017-06-29 09:07] mariuszpatyk commented on #19
Hello to everyone, very good work! After using this redis-client implementation for a while I found that the connection with the sentinel instances in RedisConnection is not being closed after resolving master address by RedisMasterResolver.getMasterAddressByName. For example, when I create a lot of RedisClient instances (because I need it for running transactions in separate sessions; of course a

[2017-06-29 10:11] pmlopes commented on #19
@mariuszpatyk could you provide your patch so we can review and merge?

[2017-07-03 12:00] mariuszpatyk commented on #19
ok
[pull_80_mp.patch.txt](https://github.com/vert-x3/vertx-redis-client/files/1119406/pull_80_mp.patch.txt)

[2017-07-13 10:05] pmlopes commented on #19
sentinel PR merged and patch applied: see: https://github.com/vert-x3/vertx-redis-client/commit/09835c1a9b4e1a3ac1769e253d1994d3f3a06711

[2017-07-13 10:05] #19 closed

[2017-08-01 08:16] KlausLR opened #82 "Operation mgetBinary"
### Version

* vert.x core: 3.4.2
* vert.x redis client: 3.4.2

### Context

The redis-operation "mget" accepts many keys and can handle binary data. I am missing a "get binary data for multiple keys"-operation in vertx-redis-client (for performance reasons, I don't want to have a loop with 'getBinary'). Is it out of scope to implement that? Or is there a workaround with some encoding magic?

###

[2017-08-02 01:42] litpangchen commented on #19
Hi Sir , May i know when will release version 3.5.0 vertx-redis client which will support sentinel , failover implementation mode? Thank ~

[2017-08-03 18:47] jenyad20 opened #83 "Expand binary support for Redis"
### Version

* vert.x core: 3.4.2
* vert.x redis client: 3.4.2

### Context
We are using Redis to store constantly incoming binary data, storing it to file is not an option since there might be race conditions and information will be lost. The only append function Redis currently have is for String. Since you have setBinary function I figured I can get the current data in form of Buffer using getB

[2017-08-04 06:49] vietj commented on #83
it does not seem consistent indeed.

[2017-08-04 06:51] vietj commented on #83
@pmlopes should we change `String` to `Buffer` for `RedisTransaction#getBinary` and `RedisTransaction#setBinary` ?

[2017-08-04 08:52] jenyad20 commented on #83
@vietj
If you could also also expend the append functions so they include append binary, and also the option to append with parameters, when I set a string i can choose expiration time, but if I append I have to use another command for expiration. I would do it myself but you made the RedisClientImpl class final, which means I can only copy-paste it, creating code duplication and poor support for

[2017-08-04 09:08] pmlopes commented on #83
I believe @jenyad20 is aiming for something like: https://github.com/vert-x3/vertx-redis-client/issues/68 the idea there is to make a really simple client that can only send messages and does not try to map each single command to an method in the java interface, basically a pure wrapper around `toPayload`

[2017-08-04 09:37] jenyad20 commented on #83
@pmlopes I like the current API, its very straight forward, simple to use and easy to learn, what I'm hoping for is for the implementations not to be final and the methods I mentioned to become public, this will make the API much less limited.

Do you have any idea when will the version 3.5.0 will come out? We need to release the alpha version of our product soon, can you suggest a work around if

[2017-08-16 07:26] aesteve opened #85 "Shouldn't zcount use strings instead of Doubles ?"
### Version

* vert.x core: 3.4.2
* vert.x redis client: 3.4.2

### Context

The documentation for [ZCOUNT](https://redis.io/commands/zcount) states that

Hence, the arguments in method `zcount` should probably have the same type as the arguments of `zrangebyscore` (which are strings)

Note that it's still possible to count using `-inf`, `+inf`, by using `Double.NEGATIVE_INFINITY`, `Double.POSITIV

[2017-08-18 08:01] oli-h commented on #65
I know it's already closed - but we stick on Vertx 3.3.3 for differetn reasons and think that we now observerd this issue too in our project in our production environment.
_Note: We use https://github.com/swisspush/gateleen, https://github.com/swisspush/vertx-rest-storage and https://github.com/swisspush/vertx-redisques_
We observed
- RedisClient has no TCP-Socket any more to Redis - and also vice

[2017-08-23 19:20] andre2i opened #86 "flush(all|db)async commands"
### Version

* vert.x core: all
* vert.x redis client: all

### Context

Are there any plans to support the natively non-blocking versions of the flush commands? They are supported by Redis >4.0? See https://redis.io/commands/flushall#codeflushall-asynccode-redis-400-or-greater

[2017-08-23 20:11] pmlopes commented on #86
Short answer yes. Long answer we need to sync to the 4.x API and the resources are scarce. Would you like to volunteer?

[2017-08-24 20:14] andre2i opened #87 "'ERR EXEC without MULTI' when using transactions with large number of requests"
### Version

* vert.x core: 3.4.1
* vert.x redis client: 3.4.1

### Context

I was implementing a new data model for the service's underlying cache and used transactions for adding new keys.

After looking at the examples [here](https://github.com/vert-x3/vertx-redis-client/blob/master/src/main/java/examples/Examples.java#L72) and [here](https://github.com/vert-x3/vertx-redis-client/blob/573fd98b2

[2017-08-24 21:36] andre2i commented on #86
Hi Paulo, that sounds interesting. Can you give me some details about the amount of work involved?

[2017-08-25 07:45] pmlopes commented on #86
Last time I've sync'ed the API it was for 3.2.1, my process if as follows:

1. Download: https://redis.io/commands.json
2. look up all API's that are older than 3.2.1
3. define the new API on https://github.com/vert-x3/vertx-redis-client/blob/master/src/main/java/io/vertx/redis/RedisClient.java
4. implement the API: https://github.com/vert-x3/vertx-redis-client/blob/master/src/main/java/io/vertx/r

[2017-08-28 21:18] andre2i commented on #86
Thanks for the details, Paulo. Sounds good. Is there a CLA for the project or does it inherit it from eclipse/vert.x? I will be going on vacation soon so I can be available to take on something like this afterwards but I'm very interested in contributing.

[2017-08-28 21:39] vietj commented on #86
@andre2i you should sign the Eclipse CLA

[2017-08-28 21:43] andre2i commented on #86
@vietj Is it this one? https://eclipse.org/legal/ECA.php? Should be ok, already signed that.

[2017-08-29 06:45] pmlopes commented on #86
Yes that's the one.

[2017-09-19 08:22] #83 closed

[2017-10-12 09:25] ankushs92 opened #90 "Support for Unix sockets"
Hey guys,
We've been using vertx-redis-client for a while in production now, and so far everything is great.
We are currently exploring libraries that provide support for connecting to Redis via Unix sockets. Any plans on providing this feature in the near future?

[2017-10-12 10:17] vietj commented on #90
@ankushs92 Vert.x 3.5 provides support for Unix domain sockets and the actual Redis client uses a NetClient, however it does not expose the domain socket setting but it should be easy to achieve, would you mind to contribute such feature ?

[2017-10-15 06:23] BillyYccc commented on #90
I made a PR to enable the domain socket option in Redis client.

[2017-10-16 08:00] vietj commented on #68
so you mean something like a `RedisConnection` ?

[2017-10-16 08:03] pmlopes commented on #68
Yes. Full control over the connection with handlers for connect, disconnect, exception plus using the core options for socket creation. And the only extra method would be one that could send a arbitrary command to redis and parse the response.

[2017-10-16 08:17] vietj commented on #68
I would be in favor of this, see my other comment on the other issue (about having an SQLOperations like pattern for both connection/client).

[2017-10-20 12:36] vietj opened #92 "Remove <p> markup in doc"

[2017-10-20 12:37] #92 closed

[2017-11-07 11:45] manucr619 commented on #19
3.5.0 Vertx is released .. Any Updates Regarding the Sentinel Support ? @pmlopes

[2017-11-08 01:10] biolearning commented on #19
was it really incorporated in 3.5.0？ I do not see it is referred in the doc.

[2017-11-09 07:24] manucr619 commented on #19
Can i write a jar file in pure java for Sentinel Connection and can i call in that file for Getting the Redis Master ??

[2017-11-09 09:10] orre commented on #19
RedisOptions has all the stuff you need to configure the RedisClient for
Sentinel. In particular you have addSentinel and setMasterName.

Den tor 9 nov 2017 08:24Manu C. Rajan <notifications@github.com> skrev:

[2017-11-10 13:35] oli-h opened #93 "RedisClient falls into unrecoverable "state=ERROR""
### Version

* vert.x core: 3.4.2
* vert.x redis client: 3.4.2

### Context

RedisClient (or better: RedisConnection) falls into unrecoverable "state=ERROR" under certain racing conditions (connection problems to Redis)

### Do you have a reproducer?

    public static void main(String[] args) throws Exception {
        Vertx vertx = Vertx.vertx();
        RedisClient redisClient = RedisClient.cre

[2017-11-23 02:19] Sergey80 opened #95 "Vertx 3.5 Testing RedisClient. Timeout on set"

[2017-11-23 03:28] #95 closed

[2017-12-14 22:25] #93 closed

[2017-12-14 22:30] pmlopes commented on #90
Fixed by #91

[2017-12-14 22:30] #90 closed

[2017-12-20 00:06] chrismcnair opened #96 "Undocumented breaking change: removal of public method RedisOptions.toJSON"
### Version

* vert.x core: 3.5.0
* vert.x redis client: 3.5.0

### Context

My code, which previously used vertx-core 3.4.1 and vertx-redis-client 3.4.1, used the `RedisOptions#toJSON` method to convert `RedisOptions` to a vertx `JsonObject`.

It seems that https://github.com/vert-x3/vertx-redis-client/commit/87efcd336bea3e2a0e5561027861605c964811fa#diff-4f866cf08c9c25e62bbbf684dcf7d55cL301 intro

[2017-12-28 11:26] ksundaresan opened #97 "Memory leak when connect fails"
### Version

* vert.x core: 3.4.2
* vert.x redis client: 3.4.2

### Context

I got an Out of Memory issue, because of too many items in closeHooks were there. It seems that in the RedisConnection.connect(), when the NetClient.connect fails to connect, the NetClient is not closed. This may cause the closeHook added to vertx context by the NetClientImpl is never been removed and builds up over a per

[2017-12-28 15:19] vietj commented on #97
perhaps we should also check the MQTT client as well ? cc @ppatierno @Sammers21

[2017-12-28 15:19] vietj commented on #97
assigned to you @pmlopes feel free to reassign to a contributor

[2018-01-04 21:00] kagof opened #98 "Feature Request: RedisClient::existsMany method"
### Version

* vert.x core: 3.5.0
* vert.x redis client: 3.5.0

### Context

For Redis commands which allow one or many keys, the RedisClient has methods which allow you to send multiple keys. Examples `RedisClient::mgetMany`, `RedisClient::scriptExistsMany`.

Since Redis version 3.0.3, the Redis [EXISTS](https://redis.io/commands/exists) command allows one or many keys, but the Vert.X RedisClient

[2018-01-04 23:34] kagof commented on #98
I've created a pull request (#99) addressing this.

[2018-01-08 12:18] pmlopes commented on #98
Fixed by #99

[2018-01-08 12:18] #98 closed

[2018-01-08 12:23] vietj commented on #98
milestone should have been set to 3.5.1

[2018-01-23 17:35] kagof commented on #98
I've just noticed that the test I wrote is failing on the build machine. I did some digging, and realized that the test suite creates a Redis server instance of version 2.8.19, and a Redis EXISTS call with multiple parameters requires Redis version ^3.0.3. It passed on my machine because I ran it against a local Redis server instance instead.

I've now run the test against the Redis instance that

[2018-01-24 18:16] kagof commented on #97
I've addressed this with a one line fix here: https://github.com/kagof/vertx-redis-client/commit/92200e8b32156ee25a5ce55816be524225bfaa0f

Happy to open a PR if you would like.

[2018-01-26 07:47] vietj commented on #97
have you signed the Eclipse Contributor Agreement @ksundaresan ?

[2018-01-26 07:47] vietj commented on #97
I can't see a way to test this right now.

[2018-01-26 12:12] vietj commented on #97
@pmlopes is there any reason the NetClient cannot be part instead of `BaseRedisClient` ?

[2018-01-26 12:50] #97 closed

[2018-03-09 08:48] pmlopes commented on #86
The flush commands are already added, so this issue is now invalid.

[2018-03-09 08:48] #86 closed

[2018-03-09 08:57] pmlopes commented on #96
Sorry, this wasn't an intentional breakage, since we already had a couple of releases after 3.4.1 I'll mark the issue as won't fix and it would be now a bit too late to add the method back and mark it as deprecated.

[2018-03-09 08:57] #96 closed

[2018-03-21 09:34] XiaohuChen opened #100 "Dos vertx-redis-client support Redis Keyspace Notifications？Or it will be supportted in v3.6.0?"
### Version 3.5.0

* vert.x core:
* vert.x redis client:

Dos vertx-redis-client support Redis Keyspace Notifications？Or it will be supportted in v3.6.0?

[2018-03-21 11:40] pmlopes commented on #100
@XiaohuChen have you tried to use the existing pub/sub infrastructure, I wasn't aware of this feature but it looks to me that it just relies on the existing pub/sub commands.

[2018-03-22 05:04] XiaohuChen commented on #100
OK，thanks!
I fixed it. By default keyspace events notifications are disabled. Thanks !

[2018-03-22 07:54] XiaohuChen commented on #100
OK thanks!
I fixed it. By default keyspace events notifications are disabled ! Thanks !

[2018-03-22 13:35] #100 closed

[2018-04-11 09:45] ankushs92 opened #102 "IllegalArgumentException when using domain socket"
### Version

* vert.x core: 3.5.1
* vert.x redis client: 3.5.1

### Context

I am trying to connect to Redis via domain socket. I have already configured redis to use unix socket. This **https://github.com/vert-x3/vertx-redis-client/issues/90** issue suggests that unix socket has been implemented in vert.x 3.5.1, although I could not find any documentation on [vertx-redis ](https://vertx.io/docs/v

[2018-04-11 15:06] BillyYccc commented on #102
Have you checked with the `vertx.isNativeTransportEnabled()`?

[2018-04-11 18:32] ankushs92 commented on #102
Well, not until you pointed it out. I updated my vert.x config which now looks like this :
[code]
And then I just use that vertx instance. There is no official or unofficial documentation on how to actually work with redis with domain sockets with vertx-redis-client though. Since you were the dev who contributed this feature, do you mind sharing a gist on how to use it? I'd really appreciate it.

[2018-04-11 18:36] vietj commented on #102
check that the vertx instance isNativeTransportEnabled() returns true after you created it, there might be errors that prevented to load native sockets

[2018-04-11 18:38] vietj commented on #102
in case it returns false, you can get a Throwable from io.vertx.core.net.impl.transport.Transport.unavailabilityCause() that you can print

I think this exception should be exposed in the vertx instance

[2018-04-12 02:42] BillyYccc commented on #102
I have written some code in https://gist.github.com/BillyYccc/7f0d1d5a6a6d3a1f3e91b0852c59a2b5, this works for me in Linux.

Don't forget to add the dependency below in addition to the `vertx-core` and `vertx-redis-client`
[code]

Note if you don't specify `setPreferNativeTransport(true)` in `VertxOptions` and you still connect with a domain socket, this will indeed throw an `IllegalArgumentExcept

[2018-04-12 02:48] BillyYccc opened #103 "Missing documentation about how to enable domain socket"
Domain socket connection is supported in version `3.5.1`, but we don't have any document to clarify how to use this.

[2018-04-12 11:02] #103 closed

[2018-05-07 07:20] pmlopes opened #106 "implement connection redirects for vertx-cluster"
see: https://redis.io/topics/cluster-tutorial

Currently we fail with:

[code]

[2018-05-16 10:22] okou19900722 opened #107 "`useWithScores` is not a getter method, setter method, and adder method"
https://github.com/vert-x3/vertx-redis-client/blob/41ba51f8a498d895ad7bc908ec8d850bfbba0aee/src/main/java/io/vertx/redis/op/RangeLimitOptions.java#L45

`useWithScores` is not a getter method, setter method, and adder method

[2018-05-18 08:58] okou19900722 commented on #107
https://github.com/vert-x3/vertx-redis-client/blob/41ba51f8a498d895ad7bc908ec8d850bfbba0aee/src/main/java/io/vertx/redis/op/LimitOptions.java#L46

LimitOptions also have the same problem

[2018-05-30 16:08] rmmasse40 opened #108 "Sentinel Client Subscribe"
### Version

* vert.x core: 3.5.1
* vert.x redis client: 3.5.1

### Context

I have found a problem with using a sentinels based client to subscribe to a channel. Once you execute the subscribe command the sentinel master resolve and connect code fails and goes into a infinite retry connect loop.

The culprit seems to be the call to "doCheckMaster" that is done by the connect logic. It issues an "

[2018-05-30 20:47] pmlopes commented on #108
Could you make a pull request for this?

[2018-05-31 18:42] rmmasse40 commented on #108
Yes. I will do that.

[2018-05-31 18:42] #108 closed

[2018-06-01 02:22] mscofy opened #109 "No handler waiting for message"
### Version

* vert.x core:3.5.0
* vert.x redis client:3.5.0

### Context

I encountered an exception after the program has been running for some time:

Jun 01, 2018 9:40:51 AM io.vertx.redis.impl.RedisConnection
SEVERE: No handler waiting for message: OK

Jun 01, 2018 9:40:51 AM io.vertx.redis.impl.RedisConnection
SEVERE: No handler waiting for message: 1
Jun 01, 2018 9:40:51 AM io.vertx.redis.im

[2018-06-02 02:57] leotu opened #110 "Support Redis 5.0 Stream API"
The new version of vertx-redis-client could consider to support Redis 5.0 Stream new feature.
https://redis.io/topics/streams-intro

[2018-06-05 09:13] djblovecxc commented on #109
me too

[2018-06-05 10:22] yoyoma214 commented on #109
me too. I have ask the same question on stackoverflow site, see also
https://stackoverflow.com/questions/50697287/vertx-redis-clientno-handler-waiting-for-message

[2018-06-05 10:27] pmlopes commented on #109
Can you provide a simple example reproducing the issue? That message is shown when redis server sends back some payload and no user code is expecting it. So it looks like there is a synchronization issue or some command is being handled incorrectly. The message itself does not let us know what is wrong, so without an example it will not be possible to debug.

[2018-06-13 01:50] yoyoma214 commented on #109
I meet the issue,but it's not a bug.see below
The problem has been solved. The reason for the above problem is that the connection has been reused and has not been closed. The solution is:`
 RedisClient redisClient = RedisClient.create(this.vertx, redisOptions);//do some thing; redisClient.close(h-{})...` for each session.
see also:
https://stackoverflow.com/questions/50697287/vertx-redis-clientno

[2018-07-24 12:34] #107 closed

[2018-07-30 09:07] underkin opened #115 "Vertx Client configured on a Redis sentinel with AUTH not working"
### Version

* vert.x core: 3.5.3
* vert.x redis client: 3.5.3

### Context

Trying to use a redis client with a sentinel install fails if redis have AUTH configured.
On a redis sentinel install without AUTH, it works fine.

However, if I do enable AUTH on redis (`requirepass my-pass`) on redis config file , and on the sentinel (`sentinel auth-pass mymaster  my-pass`) on sentinel config file, it f

[2018-08-07 14:10] pmlopes commented on #110
Fixed by #101

[2018-08-07 14:11] pmlopes commented on #115
There is a new API proposal with #101 that should make this irrelevant

[2018-08-07 14:12] #102 closed

[2018-08-07 14:14] pmlopes commented on #87
should be fixed by #101 (which is a new proposed API) there is now a `batch` method that allows you to send a batch of commands at once (without interleaves of other sources). Please review that PR.

[2018-08-07 14:37] pmlopes commented on #70
Issue #101 addresses this by making the client implement `ReadStream<Reply>`

[2018-08-07 16:36] underkin commented on #115
Any workaround we can use by now? we have a bunch of code that relies on existing client code and we would need a fix so we can use with sentinel install...

[2018-09-18 09:52] zuosc opened #117 "rxClusterNodes can not use"
### Version

* vert.x core:3.5.3
* vert.x redis client:3.5.3

This is Code:

[code]

error info:
[code]

I think  the return  value is not JsonArray...

[2018-09-20 16:22] pendula95 commented on #106
Any estimate on this issue and the timing? It is a really big issue.

[2018-09-21 15:09] pendula95 commented on #106
Thank you for the information. As I can read from the blog post "if there is some demand for it".
There are only few good redis connectors out there. Most of theme don't support  clustering.
Most of theme are really bad and we are currently using vertx as a bridge between components with bad redis connectors (syslog-ng as example). So we are doing HTTP -> vertx -> redis. But we are facing difficul

[2018-09-21 19:12] pmlopes commented on #106
@pendula95 if you're interested in help I'm all for it, for example, my redis cluster setup skills are very limited (to the simple tutorials you can google) so if you could help setting up a cluster for the tests would be already a good step. For example this is where I setup the sentinel setup for tests https://github.com/vert-x3/vertx-redis-client/blob/d6a42159cdedf16c7e99efbcbe116c5a12f9122f/sr

[2018-09-22 23:16] pendula95 commented on #106
Yes, I am really happy to help. Unfortunately it looks like the Embedded Redis does not support Redis cluster. Any suggestion how to handle this. Maybe use testcontainers to make Docker containers in order to form a cluster?

[2018-10-21 22:14] dklotz opened #118 "Redis client is blocking the event loop"
### Version

* vert.x core: 3.5.4
* vert.x redis client: 3.5.4

### Context

When I first do a redis command (`get`, `set`, ...), the client seems to internally lazily initate the connection, but seems to do so in a blocking way on an event loop thread, which is not a good idea. See the simple reproducer and look at the output it produces. The get immediately returns control to the main thread (th

[2018-10-21 22:35] tsegismont commented on #118
@dklotz can you reduce the time before the block thread checker prints a stacktrace? So that we get a better idea of what's going wrong. Thanks

[2018-10-21 22:43] dklotz commented on #118
@tsegismont Sure, setting `warningExceptionTime` to `1000` gives me this stack trace:

[code]

[2018-10-22 16:32] shawmanz32na opened #119 "Provide possible result values for Redis commands"
When using vertx-redis-client, the "result" provided to result handlers don't match those listed by Redis.

As a specific example, attempting to set a value in Redis via `SETNX`, Redis states that the possible return values are `1` if the key was set, and `0` if it wasn't (see https://redis.io/commands/setnx). However, based on experimentation and the `testSetWithOptions2` test I found in https://

[2018-11-09 16:05] vietj opened #120 "Test suite failure"
see https://travis-ci.org/vert-x3/vertx-redis-client/jobs/452894863

[code]

[2018-11-13 11:50] slinkydeveloper opened #121 "Support ReJSON"
Support commands for [ReJSON plugin](https://oss.redislabs.com/rejson)

[2018-11-13 13:10] pmlopes commented on #121
I believe that https://github.com/vert-x3/vertx-redis-client/pull/101should allow it to just work. As you would only need to do:

[code]

But I haven't tested it...

[2018-11-13 13:41] pmlopes commented on #121
@slinkydeveloper if you could verify it, we can have more trust in this code to replace the old one.

[2018-11-15 07:56] smoell commented on #110
Any news when Redis 5 Stream API will be supported by vertx-redis-client?

[2018-11-22 16:55] tsegismont commented on #118
@dklotz thanks for keeping us informed!

[2018-11-28 07:11] whisper-bye commented on #110
+1

[2018-11-28 19:32] pmlopes commented on #110
@smoell and @whisper-bye the pull request https://github.com/vert-x3/vertx-redis-client/pull/101 contains a new API that will become the default on 4.x. This new API improves the client performance, some tests show a 33% improvement, support for HA (sentinel) and cluster redis.

The client won't be opinionated so any existing or new API will be supported as long as the communication protocol doesn

[2018-12-07 10:47] pmlopes commented on #110
@smoell @leotu The PR has now a auto-generated API wrapper, which includes the `X`(Stream) commands, care to give a try?

[2018-12-23 17:47] pjlcastro opened #124 "Redis Client command handler on a different thread"
### Version

* vert.x core: 3.5.4
* vert.x redis client: 3.5.4

### Context

Is there a way to change which thread the handler of a redis command to be executed?

I have a scenario where I want the worker verticle to wait until all redis commands are finished, so I used a CountDownLatch to track but since the handler runs on the same thread, if I use the CountDownLatch.await(), the handlers will n

[2018-12-23 23:17] sandipsahoo2k2 opened #125 "No api to let the client know that redis key is expired"
### Version

* vert.x core:
* vert.x redis client:

### Context

Once the client request api expire with timeout there is no way that the key is expired to do some cleanup jobs .
    RedisClient expire(String key,
                   long seconds,
                   Handler<AsyncResult<Long>> handler)

### Extra

It would be wise to wrap an api around REDIS Expired events to let the client know tha

[2018-12-24 03:53] telecoder commented on #85
With `double` arguments it is not possible to use exclusive intervals such as:

`ZCOUNT myset (1 5`

[2018-12-27 21:15] artem-zinnatullin commented on #106
I think testcontainers is reasonable, you can form a Redis cluster in same container btw, just run multiple Redis instances on different ports

[2019-01-19 08:30] #125 closed

[2019-01-19 13:16] sandipsahoo2k2 commented on #125
Right now in my current design I have to create a timer and do some cleanup
when the key is expiring ..

Should I continuously poll the ttl command to do this ?

On Sat, 19 Jan 2019, 03:30 Paulo Lopes <notifications@github.com wrote:

[2019-02-26 15:59] pmlopes commented on #121
@slinkydeveloper this is now possible with:

https://github.com/vert-x3/vertx-redis-client/pull/123/commits/420d40d1272ffbc52f5d56002f1dafaf9b231bdf#diff-957d3d34c4af930b972d0975e77123f8R254

Any non default command can be added by the end user.

[2019-02-26 15:59] #121 closed

[2019-02-28 08:48] zacao opened #128 "setex takes ttl as a long, RedisTransaction expire as an int"
### Version

* vert.x core: 3.6.2
* vert.x redis client: 3.6.2

### Context

[code]

This is same issue like #71 about RedisClient

[code]

[2019-03-19 08:57] vietj opened #132 "Lazy Redis command queuing"
The new redis client API is not lazy anymore and it might create usability issues when it comes to queue pending request when a service handle multiple requests.

When a service (Verticle) will create a Redis instance it will need to queue commands until the client is connected (it could be done initially but that would not work if the TCP connection is closed abruptly).

So the service will have

[2019-03-19 09:00] vietj opened #133 "Redis close handler"
Currently with the new API there is no way to be aware when a Redis instance will be closed (i.e TCP connection breaks).

The code using the client will connect to Redis but will not be aware when the Redis client needs to be _recycled_.

[2019-03-19 09:12] vietj commented on #132
for the record here is what is required in vertx-config-store to make it work like before https://github.com/vert-x3/vertx-config/commit/aa3db574e7b3ea31c2325d040c4145bfc9a1c5fa

[2019-03-19 09:20] vietj commented on #133
see https://github.com/vert-x3/vertx-config/commit/aa3db574e7b3ea31c2325d040c4145bfc9a1c5fa#diff-93b55699bec48e62286148fa52d2cce8R96 where this would be used

[2019-03-19 09:22] vietj commented on #132
possible ways to achieve this:

- `createShared` like function that would handle this, where the user would then close the Redis after use to release it
- make a pool of redis connection (a proxy) of 1 connection (which is similar to the `createShared` option but is not static)

[2019-03-21 09:53] romero opened #136 "Broken code samples and version number in docs"
Despite selected language all versions of Vertx Redis manual have code samples in Groovy.
Also version mentioned is 3.5.3.CR3, while current is 3.6.3.

[2019-03-31 16:43] guss77 opened #137 "INFO request fails in 3.7"
### Version

* vert.x core: 3.7.0
* vert.x redis client: 3.7.0

### Context

When issuing the `info()` call, an exception occurs that isn't thrown from the `info()` command either synchronously or to the handler - leaving the caller with no way to recover.

### Do you have a reproducer?

* https://github.com/guss77/vertx-redis-test/tree/connect-test-3.7

Check the project's Circle CI builds: the `

[2019-04-02 08:01] vietj opened #138 "Consider updating package name for new client"
Current new client is in package `io.vertx.redis.client`, the new client should be instead in `io.vertx.redis` like other clients, although there is already there the actual client, this will be removed in Vert.x 4. We should move the new client to this package.

[2019-04-02 10:36] jlove-nz opened #139 "Which RedisClient and RedisOptions is the right one to use?"
### Version

* vert.x core:  3.7.0
* vert.x redis client:  3.7.0

### Context

It isn't clear which RedisOptions class should be used, or whether io.vertx.redis.client.Redis or  io.vertx.redis.RedisClient should be used.

Based on the documentation from vertx.io (http://vertx.io/docs/vertx-redis-client/java/), it would appear that the classes in io.vertx.redis.client should be used when developing

[2019-04-04 09:38] #137 closed

[2019-04-08 17:09] vinscom opened #140 "Redis Client throws NPE if key is not present in Redis while calling mgetMany,mget"
### Version

* vert.x redis 3.7.0:

### Problem
If the key is not present in Redis Server then in response *nil* is returned.
Currently, RedisClientImpl.toJsonArray does not handle *nil* correctly.

### Test
https://github.com/vinscom/vertx-issue-140

### Code and Error
**Sample Code**
[code]
**Error**
[code]
### Expected
All items should be returned in same order with value set to null in array f

[2019-04-09 09:50] vtutrinov opened #141 "RedisClientImpl throws NullPointerException if key is not present in Redis while calling getBinary(String key, Handler<AsyncResult<Buffer>> handler)"
### Version

* vert.x core: 3.7.0
* vert.x redis client: 3.7.0

### Do you have a reproducer?

* https://github.com/vtutrinov/vertx-redis-client-3.7.0-npe-test

### Log
`java.lang.NullPointerException: null
	at io.vertx.redis.impl.RedisClientImpl.lambda$sendBuffer$7(RedisClientImpl.java:223)
	at io.vertx.redis.client.impl.RedisClient.handle(RedisClient.java:341)
	at io.vertx.redis.client.impl.RESP

[2019-04-10 16:53] llfbandit opened #142 "Connecting & selecting in the same time fails"
### Version

* vert.x core: 3.7.0
* vert.x redis client: 3.7.0

### Context

Connecting with a pre-configured select option always fail.
This does not if with the selection is made after.

### Do you have a reproducer?
Here's a snippet to reproduce the behaviour :

[code]

[2019-04-11 11:08] ukr15 opened #143 "Code using io.vertx.rxjava.redis.RedisClient doesn't compile in 0.7.0"
### Version

* vert.x core: 3.7.0
* vert.x redis client: 3.7.0

### Context

With switch from Vertx 3.6.3 to 3.7.0 code using  io.vertx.rxjava.redis.RedisClient in an  io.vertx.rxjava.core.AbstractVerticle  doesn't compile any more. The exception  'incompatible types: io.vertx.redis.RedisOptions cannot be converted to io.vertx.core.json.JsonObject' is thrown.

### Do you have a reproducer?
The rep

[2019-04-11 15:49] aygalinc opened #144 "redis.rxHget breaks Observable contract, null element is passed to next operator."
### Version

* vert.x core: 3.7.0
* vert.x redis client: 3.7.0

### Context

I encountered an exception which looks suspicious while I use redis.rxHget(key1,field1).map(resp -> ...).subscribe() with the following assumption : key1 exist and field1 didn't exist in redis database.
The map operator is called with a null, which break Observable contract. (https://github.com/ReactiveX/RxJava/wiki/What'

[2019-04-12 03:30] okou19900722 commented on #141
I got same issue; when I invoke `hmget`, it throw NullpointerException

[2019-04-12 03:53] okou19900722 commented on #141
Unit test was commented

[2019-04-12 08:58] tsegismont commented on #144
Sounds like some `@Nullable` annotations are missing in the Vert.x Redis
client interface. Would you like to contribute the fix?

[2019-04-12 15:00] aygalinc commented on #144
I can give a shot but I'm really not a Redis expert. I will see if I have time to do it next week.

Do you have a list of all potential command that return can return null ?

If i understand, you think that RedisApi must be rewrite from :

`@Fluent
  default RedisAPI hget(String arg0, String arg1, Handler<AsyncResult<Response>> handler) {
    send(Command.HGET, arg0, arg1).setHandler(handler);

[2019-04-13 06:40] wbkys opened #146 "Cluster: SLOTS No client's available."
### Context

localhost vert.x 192.168.0.2
redis cluster  192.168.0.10,192.168.0.11,192.168.0.12
connect......
Apr 13, 2019 2:30:01 PM io.vertx.redis.client.impl.RedisClusterClient
WARNING: Failed to connect to: 192.168.0.10:6300
WARNING: Failed to connect to: 192.168.0.11:6300
WARNING: Failed to connect to: 192.168.0.12:6300

onConnect.cause().getMessage():-> SLOTS No client's available.

### Do y

[2019-04-13 06:41] wbkys commented on #146
![image](https://user-images.githubusercontent.com/12574291/56075755-38f07280-5dfa-11e9-918a-841cae26c527.png)

[2019-04-13 18:43] vinscom commented on #140
Test https://github.com/vinscom/vertx-issue-140

[2019-04-14 06:23] akiyamayami commented on #142
Hi, Anyone can slive this, I just upgrade my project version vertx 3.5 to 3.7. but can not use Redis Client :(

[2019-04-15 06:05] micean commented on #142
Because `RedisClient` set `connected = true` after send `select n` when `select` of RedisOptions is non-null.
Use the old client 'io.vertx.redis.RedisClient' before fix this bug

[2019-04-15 07:29] glassfox opened #147 "RedisOptionsConverter do not have parser for endpoint key"
Hi guys,
After 3.7.0 upgrade I found several issues:
1. In old RedisClient added restriction for "auth" and "select" keys. This throw in my case "connection refused" exception. (maybe set actual values only if exist)

[https://github.com/vert-x3/vertx-redis-client/blob/22c69ed7eb1047a7cfb6e441cf286d74ccb81007/src/main/java/io/vertx/redis/impl/RedisClientImpl.java#L119-L123](https://github.com/vert

[2019-04-15 08:08] tsegismont commented on #144
Le ven. 12 avr. 2019 à 17:00, Colin Aygalinc <notifications@github.com> a
écrit :

Cool!

No but I'm sure Paulo (the maintainer) can help.

Yes

Exactly. The Rxified API will then return a Maybe instead of Single.

[2019-04-15 09:48] #141 closed

[2019-04-15 09:58] pmlopes commented on #146
@wbkys your config ip addresses does not seem to match what the first node is configured, you don't need to specify all hosts in the config, the first one that the client connects to, will return the cluster information, so:

You say:

* 192.168.0.10
* 192.168.0.11
* 192.168.0.12

But Redis says:

* 192.168.0.181
* 192.168.0.182
* 192.168.0.183

Can you double check your setup?

[2019-04-15 10:15] wbkys commented on #146
Sorry, screenshot problem.
But the problem is as I said, please ignore the screenshot.

[2019-04-15 11:14] wbkys commented on #147
+1

[2019-04-15 11:19] pmlopes commented on #146
So the problem is that all your nodes are password protected? and the discovery is attempting to connect without password?

[2019-04-15 11:20] pmlopes commented on #144
Fixed by: https://github.com/vert-x3/vertx-redis-client/commit/b800db85ca1c8d1174f1cd30e97d8830b8c4807e

[2019-04-15 11:20] #144 closed

[2019-04-15 13:33] ukr15 opened #148 "Redis connection is broken."
### Version

* vert.x core: 3.7.0
* vert.x redis client: 3.7.0

### Context

I encountered an exception which looks suspicious while trying to get an RedisClient in avertible extending io.vertx.rxjava.core.AbstractVerticle: Redis connection is broken
After correcting the compiler error mentioned in #143 and starting the vertical, the following outputted appears:
Apr 15, 2019 3:27:46 PM io.vertx.co

[2019-04-15 21:03] mikand13 commented on #137
This shows up for me as well, hard to pin down exactly what command does it in my case, but ill try creating a reproducer. Reverting to 3.6.3 solved it for now.

[2019-04-16 03:37] wbkys commented on #148
Set the password to null , you try

[2019-04-16 03:38] wbkys commented on #146
Yes,All passwords will fail

[2019-04-16 06:13] ukr15 commented on #148
set password to null has no effect

[2019-04-16 06:15] ukr15 commented on #148
JsonObject redisConfig = new JsonObject().put("port", 6380).put("select",3).setNull("password");

has no effect

[2019-04-16 09:11] vinscom commented on #148
I am having the same issue. Without password, everything works fine. But, with the password, I am getting below error.
[code]

**Test case**:
https://github.com/vinscom/vertx-issue-148

[2019-04-16 09:39] pmlopes commented on #137
The fix is on master and will be backported to 3.7 branch too.

[2019-04-16 09:51] mikand13 commented on #137
Alright. Was this only related to info, or generally to send commands?

[2019-04-16 13:46] ukr15 commented on #148
Happens in testcases even without password
         JsonObject redisConfig = new JsonObject().put("port", 6380).put("select",3)

[2019-04-16 15:06] vinscom commented on #148
Ah, select is also not working.

[2019-04-17 06:20] ukr15 commented on #148
Strange, that "port" works.

[2019-04-17 12:05] glassfox commented on #148
1. In case if select or/and password defined in RedisOptions -> connection failed.
2. "select" and "auth" send command to redis server before definition of "connected" flag.
3. Function "send" check if "connected" flag is true

[https://github.com/vert-x3/vertx-redis-client/blob/b800db85ca1c8d1174f1cd30e97d8830b8c4807e/src/main/java/io/vertx/redis/client/impl/RedisClient.java#L157-L167](https://gi

[2019-04-17 13:46] CasterKKK opened #149 "`redisClient.getBinary` throws Null Pointer Exception when the result is null"
### Version

* vert.x core: 3.7.0
* vert.x redis client: 3.7.0

### Context

I encountered an exception which looks suspicious while using Redis as Vert.x Cluster Session.

This error is only encountered at 3.7.0, 3.6.3 works fine

### Do you have a reproducer?

The `redisClient.getBinary` function throws this error, when the result is `null`
[code]

### Extra

Error log:
[code]

[2019-04-17 14:10] pmlopes commented on #149
this issue should be already fixed on master.

[2019-04-17 14:32] CasterKKK commented on #149
@pmlopes  On master? Have you pushed the patch to maven central? it does still not work even I update the maven repo's index...

[2019-04-18 09:45] pmlopes commented on #149
no, it's not on maven central to test you need to build from source.

[2019-04-18 15:54] bmwcmw opened #150 "io.vertx.redis.RedisClient doesn't work anymore with 3.7.0?"
### Version

* vert.x core: 3.7.0
* vert.x redis client: 3.7.0

### Context
We just upgraded to 3.7.0 from 3.6.3 and vertx won't connect to Redis anymore(circuit breaker never closed then).

The problem is resolved by just rollbacking the version to 3.6.3.

Normally this existing client is not deprecated so should be retro-compatible with 3.7.0.

http://vertx.io/blog/eclipse-vert-x-3-7-0-released/

[2019-04-20 13:00] marcust opened #151 "3.7.0 setBinary broken"
### Version

* vert.x core: 3.7.0
* vert.x redis client: 3.7.0

### Context

I'm trying to write binary into redis (via `rxSetBinary`) and reading again, but the value that actual ends up in redis is `"[B@57f2e67"`.

I'm not sure about the semantics, but in `RedisClientImpl` (https://github.com/vert-x3/vertx-redis-client/blob/master/src/main/java/io/vertx/redis/impl/RedisClientImpl.java#L96) the b

[2019-04-23 07:29] ukr15 commented on #150
same problem like #148

[2019-04-23 08:36] bmwcmw commented on #150
Closing this one as it duplicates https://github.com/vert-x3/vertx-redis-client/issues/148

[2019-04-23 08:36] #150 closed

[2019-04-23 14:55] wkgcass commented on #115
I came into the same issue when using 3.5.3 but the new releases might have solved the problem. However I only modified two classes to solve this problem and decided not to upgrade to a new version.

The fix is [here](https://gist.github.com/wkgcass/7df4f61e68ec0e46d47c5f87fccc53ff)

It's been a long time but I think I'll @underkin in case you are still interested in this.

[2019-04-23 14:59] underkin commented on #115
Will give it a try.

[2019-04-25 08:53] KowalczykBartek commented on #132
hi @vietj - I want to play around that but just have a question - is RedisClient designed to be used only from the single thread ?
I didn't found nothing about that in docu, but looking at code seems to be not designed to be thread safe
[code]
and
[code]

[2019-04-27 15:04] prakharmishra opened #152 "Vertx 3.7.0: Unable to connect to redis, Redis connection is broken"
### Version

* vert.x core: 3.7.0
* vert.x redis client: 3.7.0

### Context

I encountered an exception which looks suspicious while testing my code:

[code]
Exception is as follows:
[code]

### Do you have a reproducer?
See code above

### Steps to reproduce

1. Include `vertx-core`, `vertx-redis-client`, `junit` and `vertx-unit` dependencies in pom.xml
2. Create a test case with code pasted abov

[2019-04-29 07:52] pmlopes commented on #152
Thanks for the report @prakharmishra I'll investigate

[2019-04-29 13:44] #152 closed

[2019-04-29 13:51] pmlopes commented on #151
Fixed on master and 3.7.1

[2019-04-29 13:51] #151 closed

[2019-04-29 13:51] pmlopes commented on #149
Fixed on master and 3.7.1

[2019-04-29 13:51] #149 closed

[2019-04-29 13:51] pmlopes commented on #148
Fixed on master and 3.7.1

[2019-04-29 13:51] #148 closed

[2019-04-29 13:52] pmlopes commented on #142
Fixed on master and 3.7.1

[2019-04-29 13:52] #142 closed

[2019-04-29 13:52] pmlopes commented on #140
Fixed on master and 3.7.1

[2019-04-29 13:52] #140 closed

[2019-04-29 13:52] ukr15 commented on #148
Great, Thanks

Am 29.04.2019 um 15:51 schrieb Paulo Lopes <notifications@github.com<mailto:notifications@github.com>>:

Fixed on master and 3.7.1

—
You are receiving this because you modified the open/close state.
Reply to this email directly, view it on GitHub<https://github.com/vert-x3/vertx-redis-client/issues/148#issuecomment-487587817>, or mute the thread<https://github.com/notifications/uns

[2019-04-29 17:51] glassfox opened #153 "Redis client 3.7.0 - thread safe issue"
Hi Guys,
Looks like the new Redis client not thread safe.

following the test:

[code]

and log:

[code]

[2019-05-01 16:59] KowalczykBartek commented on #132
Hi -
What do you think about such approach https://github.com/KowalczykBartek/vertx-redis-client/pull/1 ?
I tried to integrate it with redis-config and it looks that it will work :)

Please give me some feedback - so I can proceeded with the rest and with tests.

BTW:
[code]
I think that this can be replaced with something that do not enforce write/read barrier - especially that this is always exe

[2019-05-03 16:18] ben-r commented on #147
+1

This is indeed critical and I currently don't know how to configure endpoints since it's always working with the default value `127.0.0.1:6379`.

Also how the client creation works is really strange since you are forced to convert the `RedisOptions` to an `JsonObject` which is internally converted back. Why?

[2019-05-11 16:01] pmlopes commented on #132
The branch: https://github.com/vert-x3/vertx-redis-client/tree/issues/pool implements a connection pool that implements what is discussed on this issue. Please keep an eye on it and feel free to comment.

[2019-05-14 06:30] liukch opened #154 "If connection to redis break, RedisClient will not retry auto establish connection again."
### Version

* vert.x core: 3.7.0
* vert.x redis client: 3.7.0

### Context

I use examples.RedisExamples#example10 to attempt reconnection, but when the connection to redis is broken, the io.vertx.redis.client.impl.RedisClient#connect will call io.vertx.core.net.impl.NetClientImpl#close, When the example10.attemptReconnect loop goes to the second time, an IllegalStateException will be threw.

Thi

[2019-05-14 22:52] Tinadim commented on #152
@pmlopes are there any workarounds for this until it gets released? I'm writing a project that depends on Redis and I'm facing the same issue.

[2019-05-22 03:41] An0nymous0 commented on #152
release time？

[2019-05-22 03:51] wbkys commented on #154
if(handler.failed()) {
	attemptReconnect(3, message);
 }

private void attemptReconnect(int retry, Message<JsonObject> message) {
    if (retry > MAX_RECONNECT_RETRIES) {
      // we should stop now, as there's nothing we can do.
    	log.error("redis over!");
    	message.reply(null);
    } else {
      // retry with backoff up to 1280ms
      long backoff = (long) (Math.pow(2, MAX_RECONNECT_RETR

[2019-05-22 03:54] wbkys commented on #154
https://github.com/vert-x3/vertx-redis-client/blob/master/src/main/java/examples/RedisExamples.java

[2019-05-22 03:57] liukch commented on #154
@wbkys I use examples.RedisExamples#example10 to attempt reconnection!
But if redis tcp connection break, this will not work.

[2019-05-22 04:24] wbkys commented on #154
if（
          handler.failed （））{ attemptReconnect（3，message）;
}

[2019-05-22 06:11] liukch commented on #154
@wbkys As I said in issue context,
 I don't think call io.vertx.redis.client.Redis#createClient to build a new Redis object is good way to reestablish a connection, may be RedisClient should offer a method like netSocket.exceptionHandler()?

[2019-05-23 02:48] wbkys commented on #154
Sorry, I didn't find out. I need to see it.

[2019-05-28 02:46] mmhegazy opened #157 "when using setPort/setHost methods in a RedisOptions object , then using tojson , the resulting json object doesnot have the port and host parameters , that caused the RX redis client always to use the default port"
### Version
3.7.0/3.7.1
* vert.x core:3.7.0/3.7.1
* vert.x redis client:io.vertx.reactivex.redis.RedisClient

### Context

I encountered an exception which looks suspicious while ...

### Do you have a reproducer?

* Link to github project/gist

### Steps to reproduce

1.RedisOptions redisopt=new RedisOptions().setHost(host).setPort(port)
2. redis = RedisClient.create(vertx,redisopt.toJson());
3.

[2019-05-28 13:34] joker-90 opened #158 "Cluster Client fails to follow moved or ask response"
### Version

* vert.x core: 3.7.1
* vert.x redis client: 3.7.1

### Context

I have an exception while using Redis client in Cluster mode with use slave option set to SHARE or ALWAYS.

`val redisOptions = RedisOptions().apply {
type = RedisClientType.CLUSTER
useSlave = RedisSlaves.SHARE
endpoint = SocketAddress.inetSocketAddress(6379, "endpoint")
}`

The exception is: ErrorType with message "MOVED

[2019-05-29 14:14] joker-90 opened #160 "Redis Cluster avoid move response on ALWAYS or SHARE slave mode"
### Version

* vert.x core: 3.7.0
* vert.x redis client: 3.7.0

### Context
When the client is configured in cluster mode and the slave mode is ALWAYS or SHARE
Ex.
`RedisOptions options = new RedisOptions()
    .setType(RedisClientType.CLUSTER)
    .setUseSlave(RedisSlaves.SHARE)`

The client when calls a slave always receive MOVED response from Redis and client does a redirect on a Master node. T

[2019-06-06 13:18] Tinadim commented on #152
@An0nymous0 looks like 3.7.1 has been released a few days ago and it seems to have the fix

[2019-06-13 02:12] javenwang commented on #139
I think we should use `io.vertx.redis.client.Redis` which is newer API.
also see #150 , and [release note](https://vertx.io/blog/eclipse-vert-x-3-7-0-released/#vert-x-redis-client)

[2019-06-18 06:39] listaction commented on #31
this is still happening with 3.5.1 @ajaysarda

[2019-06-18 19:54] abonander opened #162 "Response.toInteger() always requires round-tripping through String"
Because `IntegerType` does not override `Response.toInteger()`, the default implementation applies:

https://github.com/vert-x3/vertx-redis-client/blob/master/src/main/java/io/vertx/redis/client/Response.java#L74-L80

This will wastefully convert the value to a string and parse it back as an integer when it could just be returned directly. A truncating cast would have to be applied, but in cases w

[2019-06-18 20:09] abonander commented on #162
I'm also a bit concerned about this API using boxed types overall; there doesn't seem to be a compelling reason for it except maybe using method references in generic contexts.

[2019-06-21 13:43] #162 closed

[2019-06-24 03:10] zoeminghong commented on #152
on 3.7.1 will cause this error when value was not null.

[code]

[2019-06-24 11:45] #158 closed

[2019-06-24 20:21] abonander opened #168 "Don't pass "QUEUED" responses to handlers"
When executing `ZREM` it appears to respond initially with `"QUEUED"` which isn't really helpful and also causes an exception in the handler when trying to convert the response to a long [to read the return value](https://redis.io/commands/zrem#return-value).

[2019-06-24 20:28] pmlopes commented on #168
How are you getting that result? Could you provide a code snippet?

QUEUED is coming from redis directly usually it means you're inside a transaction, so we need a bit more information here...

[2019-06-24 21:09] abonander commented on #168
Ah, yes it is occurring inside `MULTI`, that was my mistake. I forgot the results are not returned until `EXEC` is sent.

[2019-06-24 21:09] #168 closed

[2019-06-25 09:25] pmlopes commented on #139
@jlove-nz @javenwang yes `io.vertx.redis.client.Redis` is the right one as the old code is to be removed on 4.0 (master). Since this code isn't fully on par with the old one we currently have the 2 APIs available.

Once the connection pool gets implemented (which will offer better connection management than the old implementation then the old code is to be removed from a release.

[2019-06-25 12:33] #147 closed

[2019-06-25 21:15] jlove-nz commented on #139
@pmlopes Thanks for the update. I'll look forward to 4.0.

[2019-06-28 13:31] #160 closed

[2019-06-28 13:31] joker-90 commented on #160
Solved

[2019-06-28 14:00] pyranja opened #169 "Batching single key commands fails in cluster mode"
### Version

* vert.x core: 3.7.1
* vert.x redis client: 3.7.1

### Context

When running a batch of redis commands with single key, the execution fails:

[code]
Batched commands are:

[code]

### Do you have a reproducer?

Can provide one if needed.

### Steps to reproduce

1. Execute a batch of single key redis commands

### Extra

The problem is in `RedisClusterClient` line 387.

![image](https

[2019-07-02 08:48] Halooooooo opened #171 "Redis waiting Queue is full"
### Version

* vert.x core:3.7.1
* vert.x redis client:3.7.1

### Context

I encountered an exception which looks suspicious while ...
i use verx to decr redis key but vertx throw a throwable
io.vertx.core.impl.NoStackTraceThrowable:  Redis waiting Queue is full .
and tps 20000-30000
i try to increase MaxWaitingHandlers but not work, i want increase vertx-reids tps

### Extra

* Anything that can

[2019-07-02 15:09] pmlopes commented on #171
There's something not correct with your snippet. Doing an infinite loop sending commands to redis, will without of a doubt fail after a while. Your CPU can cycle faster the loop and push to the queue a command than the OS + network layer can deliver and receive a reply from redis. With will not increase your TPS as the requests have to wait for a reply.

The old client had an unbounded queue so yo

[2019-07-02 17:24] mhp0rtal opened #172 "Misuses of cryptographic APIs"
Hi
The following lines have cryptographic API misuses. <br> File name => src/main/java/io/vertx/redis/impl/ScriptImpl.java: Line number => 34: API name => MessageDigest:<BR> File name => src/main/java/io/vertx/redis/impl/ScriptImpl.java: Line number => 30: API name => MessageDigest:First parameter (with value "SHA1") should be any of {SHA-256, SHA-384, SHA-512}<BR> File name => src/main/java/io/ve

[2019-07-02 17:40] #172 closed

[2019-07-19 14:01] #153 closed

[2019-07-25 13:38] vietj opened #175 "Test don't pass in master"
[code]

[2019-08-02 03:52] caixinning opened #176 "Multi-thread with sync operation performance like single-thread"
### Version

* vert.x core:3.7.0
* vert.x redis client:3.7.0

### Context
I try to use vertx-redis-client in sync, i guess it would hurt performance a lot, but actually the performance was extremely slow,  almost equals to one thread serially.
Sometimes it throw 'No handler waiting for message'.

Here is my test code:

[RedisBenchmarkDemo.java.zip](https://github.com/vert-x3/vertx-redis-client/fil

[2019-08-08 02:41] dingaiminGIT opened #177 "io.vertx.core.impl.NoStackTraceThrowable: Redis connection is broken"
### Version

* vert.x core:3.8.0
* vert.x redis client:3.8.0

### Context

redisComponent.readableDSPRedis().get(redisKey, ar -> {
                timerContext.stop();
                if (ar.failed()) {
                    ar.cause().printStackTrace();
                    handler.handle(Future.failedFuture(new SearchException("getAdNum 异常, redis key " + redisKey)));
               ......

[2019-08-12 08:15] myhtls commented on #177
Hi I also have the same problem as you.
  val options = RedisOptions()
        options.password = "you password"
        options.po
        val reids = Redis.createClient(vertx,options)
        val redisApi = RedisAPI.api(reids)
        redisApi.setnx("===","=====aaaa") {
            if(it.succeeded()){
                println("11")
            }else {
                println(it.failed())

[2019-08-20 07:07] vietj commented on #143
@pmlopes can you handle this issue ?

[2019-08-20 07:48] ukr15 commented on #143
Replacing RedisClient.create(vertx, new RedisOptions(json)) with RedisClient.create(vertx, json) the code compiles now with vertx 3.8.0.

 IMHO this issue could be closed.

[2019-08-22 16:50] mmhegazy opened #178 "Getting exception while using the redis client to retrieve 4000 records Asynchronously"
### Version

* vert.x core: 3.7.1
* vert.x redis client: 3.7.1

### Context

I encountered an exception that looks suspicious while using the redis client to retrieve 4000 records concurently.

### Do you have a reproducer? No

* Link to github project/gist

### Steps to reproduce

1. Insert 4000 records into the redis DB
2. retrieve the 4000 records in an aconcurrent way

Aug 29 18:29:19 rzn1-ep1

[2019-08-22 20:39] pmlopes commented on #106
New client sentinel should do this

[2019-08-22 20:39] #106 closed

[2019-08-23 03:03] 13779983327 opened #179 "How does redis set an empty string"
### Version 3.8.0
code:
redis.set(Arrays.asList("test",""), res->{
            if (res.succeeded()) {
                System.out.println("set result = " + res.result());
            } else {
                res.cause().printStackTrace();
            }
        });

get test result is
$0

"

I found it in the code ：RequestImpl.java
 if (arg.length() == 0) {
      args.add(EMPTY_BULK);
      return t

[2019-08-25 09:06] vietj opened #180 "CI fails on master"
https://travis-ci.org/vert-x3/vertx-redis-client

[2019-08-25 09:06] vietj commented on #180
can you investigate @pmlopes ? this prevents deploying snapshots

[2019-08-26 03:26] gillbates opened #181 "Redis Cluster always connected to 127.0.0.1"
Hi Vertx Devs,

when I try following code with vertx 3.8.0:

Vertx vertx = Vertx.vertx(); RedisClient redis = RedisClient.create(vertx, new RedisOptions().setSentinels(List.of("192.168.5.20:8400", "192.168.5.20:8401", "192.168.5.20:8402")).setMasterName("MASTER_NAME")); Future<JsonArray> future = Future.future(); redis.keys("*", future); future.setHandler(res -> { if (res.succeeded()) { System.out

[2019-08-26 13:14] pmlopes commented on #180
Fixed

[2019-08-26 13:14] #180 closed

[2019-08-26 13:27] pmlopes commented on #179
Indeed, those constants are wrong as they were used before cluster support was available.

[2019-08-26 13:32] #179 closed

[2019-08-29 11:34] yaniv51 opened #182 "NullPointerException on sendBuffer handler under io.vertx.redis.impl.RedisClientImpl"
### Version

* vert.x core: 3.8.1
* vert.x redis client: 3.8.1

### Context
We have update our Vert.x code version from 3.6.3 to 3.8.1 and encountered an exception while using old Redis client (We found that there is a new client but without setting a binary).
After requesting redisClient.getBinary(id, res -> {}),
sendBufferr(Command command, List arguments, Handler<AsyncResult<Buffer>> handler) i

[2019-08-30 13:57] Alars-ALIT commented on #152
I still get:
java.lang.NullPointerException: null
	at io.vertx.redis.impl.RedisClientImpl.lambda$sendLong$3(RedisClientImpl.java:149)
...
.. in 3.8.1

[2019-08-31 16:17] Gaket opened #183 "Redis connection URI support"
### Version

* vert.x core: 3.8.1
* vert.x redis client: 3.8.1

### Context

I've started learning Vert.x, mostly I have Android dev experience.

Trying to connect a Redis instance to Vert.x Verticle. The most convenient way for me would be to simply user Redis URI, as the first variant here, in another Redis library: https://github.com/lettuce-io/lettuce-core/wiki/Redis-URI-and-connection-details

[2019-08-31 20:12] pmlopes commented on #183
In master there's support for redis uri, however there's no standard but as master hasn't been released in a final release we could verify and see if we could align the format.

[2019-09-01 09:36] Gaket commented on #183
Actually, URI string support was added in Redis 4.0.3. Here you can find [a commit message](https://raw.githubusercontent.com/antirez/redis/4.0/00-RELEASENOTES) (try looking for "-u" in the log), and [here](https://redis.io/topics/rediscli) you can find a description.

I will be happy to contribute, adding a `RedisOptions.setConnectionUri(String connectionUri)` that will parse the URI through `URI

[2019-09-01 17:37] pmlopes commented on #183
@Gaket great, please do and ping me if there's any need issue. Note that RedisURI is in the `impl` package so feel free to modify it to properly implement the URI as redis 4.0.3 specifies.

[2019-09-05 12:24] johansnow opened #185 "NullPointerException in RedisClientImpl"
### Version
* vert.x core:3.8.1 (Since 3.7.1)
* vert.x redis client:3.8.1 (Since 3.7.1)

### Context
redisClient.rxZrank for key which does not exist results in NullPointerException in RedisClientImpl.lamda. The exception is not propagated to the calling code, and suspended execution never resumes.

### Do you have a reproducer?
build.gradle
[code]

src/main/test/java/test/RedisTest.java
[code]

*

[2019-09-05 12:27] johansnow commented on #185
I found these previous issues which may be related
https://github.com/vert-x3/vertx-redis-client/issues/140
https://github.com/vert-x3/vertx-redis-client/issues/141

[2019-09-15 13:41] guss77 commented on #177
I still get this error (`io.vertx.core.impl.NoStackTraceThrowable: Redis connection`) in Vert.x Redis 3.8.1, even though issues #148 and #152 are closed.

Reviewing the code of `RedisClientImpl` from 3.8.1, I don't see anywhere that a reconnect is handled.

Currently, my workaround is to detect "connection is broken" errors by searching the text message of the exception thrown (horrible way to do

[2019-09-16 15:29] Gaket commented on #183
Sorry, had a couple of busy weeks. Going to implement it this Sunday / next Monday. Just for your information.

[2019-09-17 07:13] arniu opened #186 "Shall we add `stream/parallelStream` in `Response`?"

[2019-09-19 09:01] Globegitter commented on #186
Is it possible to actually stream the results back from redis? Maybe not on a `get` call, but at least on an `mget` call it could be very interesting to get each item back as it comes in.

[2019-09-19 09:20] pmlopes commented on #186
The `RedisConnection` implements the `ReadStream` interface, it will stream any event (from a pub/sub) setup to the handler that is supplied.

The `Response` doesn't for the fact that a Redis response is sent as one message from the server back to the client.

In the case of a `mget` the server does not send a entry one by one, it sends a `multi bulk` message with the total number of entries, plus

[2019-09-19 10:26] arniu commented on #186
Without `stream`, it's really boring to handle the `multi ... exec` response.

[2019-09-19 13:33] pmlopes commented on #186
We can also look at the issue from a different perspective. Given that result implements `Iterable` we could have a stream that streams from that iterable, not as results flow over the wire for the reasons stated above. Would that be a good compromise?

[2019-09-19 14:11] arniu commented on #186
While to get a `Stream`, we have to write `StreamSupport.stream(response.spliterator(), false)` manually, which is really boring.

So, how about to add `stream/parallelStream`, just like what `java.util.Collection` does?

[2019-09-19 14:17] pmlopes commented on #186
@arniu that is what I was trying to suggest.

[2019-09-19 21:16] zenios opened #187 "Context difference"
### Version

* vert.x core:4.0.0-milestone2
* vert.x redis 4.0.0-milestone2

### Context

When acquiring a connection from Redis client the handler is called on a different context instead of the context used when calling.

Is that intentional?

Do we need to execute runOnContext inside the handler in order to return back to the calling context?

[2019-09-22 15:46] guss77 opened #188 "RedisClient no longer publishes received pub/sub messages to event bus"
### Version

* vert.x core: 3.8.1
* vert.x redis client: 3.8.1

### Context

Up until Vert.x Redis Client 3.6.3, users using the `RedisClient` class (that implements auto-reconnect and other useful features) could call the `client.subscribe(channel)` method, after which clients can listen to the Vert.x event bus to receive published messages.

Starting with Vert.x Redis Client 3.7, this functional

[2019-09-22 20:45] zenios opened #189 "New connection pool seems broken"
### Version

* vert.x core:4.0.0-milestone3
* vert.x redis client: 4.0.0-milestone3

### Context

I made a simple verticle that every 1s takes and releases a connection. After 4 executions, acquiring connection fails with io.vertx.core.http.ConnectionPoolTooBusyException: Connection pool reached max wait queue size of 1

### Do you have a reproducer?
[code]

Connection acquired
Connection acquired

[2019-09-22 20:57] vietj commented on #189
thanks, it seems that the close does not properly release the connection to the pool

[2019-09-22 20:58] vietj commented on #189
we should actually rename the exception to be HTTP agnostic in vertx-core in master

[2019-09-23 10:34] #185 closed

[2019-09-23 10:34] #175 closed

[2019-09-23 13:57] KoellGerhard commented on #181
You are useing the wrong namespace. Don't use RedisClient.create from io.vertx.redis.*

Use Redis.createClient and the RedisOptions from the io.vertx.redis.**client**.* namespace instead
The set the type to cluster and add endpoints

Gerhard

[2019-09-24 02:54] arniu opened #192 "A naive proposal: Support re-connect in redis client"
At present, `RedisAPI` takes `RedisConnect` directly and will not recover from disconnection. Users have to write their own redis helper to handle re-connecting. So why not add it in redis client?

This is a simple, naive proposal:

1. Add re-connection support in `Redis`;
2. Create `RedisAPI` from `Redis`, other than `RedisConnection`.

[2019-09-24 02:57] arniu commented on #192
@pmlopes

[2019-09-24 07:08] pmlopes commented on #192
@arniu the goal is to use the new pool mechanism. Using the pool, we can hide all the get connection / close connection as the connections are managed by it. This is still an TODO item as the pool just landed on master.

With this mode we don't need to care about reconnect, just issue a command and the pool shall give you a working connection run the command and return it to the pool. When more th

[2019-09-25 17:44] Gaket commented on #183
In RedisURI I renamed the `address` field to `connectionString`, similar to the way it is called in MongoDb: https://docs.mongodb.com/manual/reference/connection-string/

There is a `RedisOptions.setEndpoint(String endpoint)` method that actually behaves (after a few small touches) as a `RedisOptions.setConnectionStringUri(String connectionStringUri)`.

1) Can I rename this public api parameter na

[2019-09-26 08:11] pmlopes commented on #183
Please create a new one and deprecate the old one. So if someone was already using it it won't break.

[2019-09-26 13:38] Tinadim commented on #177
I'm having the same issue. Looks like in version 4.0.0 the code that handles the socket connection has been changed greatly. Is version 4 stable yet?

[2019-09-28 11:28] #189 closed

[2019-09-30 06:00] wbkys commented on #178
options = new RedisOptions().setMaxWaitingHandlers(5000)

[2019-10-03 20:48] pablotdl commented on #177
Same issue here, solved using the workaround applied by @guss77 , but definitely not ideal

[2019-10-15 08:43] vietj opened #195 "Client metrics"
We should support metrics for this client and have latencies measurement for operations, also good to know how long operations are queued.

[2019-10-16 09:35] johansnow opened #196 "NullPointerException in RedisClientImpl SendLong"
### Version

* vert.x core: 3.8.2, since 3.7.1
* vert.x redis client: 3.8.2, since 3.7.1

### Context
See https://github.com/vert-x3/vertx-redis-client/issues/185 and referenced commit

Additionally: 3.8.2 contained a fix for SendBuffer (see commit referenced from issue 185) which now checks for NPE. SendLong is the method that affects us and it remains unchanged. Any result handling code would ne

[2019-10-21 08:21] Nossiac commented on #192
that's exactly what i'm looking for, a REAL pooled client. will it be available in 4.0 release?

[2019-10-27 00:24] badrazizi opened #197 "RuntimeException: Number of key is not even"
### Version

* vert.x core:  3.8.2
* vert.x redis client:  3.8.2

### Context

if redis have any odd number of keys 3,5,7.. i get runtime exception.
i have been looking at the source code and i found https://github.com/vert-x3/vertx-redis-client/blob/21075c83eff35119e2af8c5b57d8b7f1fd5628be/src/main/java/io/vertx/redis/client/impl/types/MultiType.java#L77

[code]
i really don't understand why it's

[2019-10-28 09:01] pmlopes commented on #197
@badrazizi they `keys` method is a utility when working with hashes, for, example, when you execute a `hmget` command, in this case the response will be:

[code]

So the number of keys must be even and you know the even number is the `key` and the odd number is the `value`.

Now you want to iterate the multi response, in this case, there are no keys involved, just values. The response object imple

[2019-10-28 09:01] #197 closed

[2019-10-29 15:50] #186 closed

[2019-10-30 08:22] #188 closed

[2019-10-31 11:15] wem opened #198 "Movable key commands on cluster client."
### Version

* vert.x core: 3.8.3
* vert.x redis client: 3.8.3

### Context
Is the reason the clustered client can not handle some kind of commands like EVAL, GEO... (those, they are flagged as movable), that they can contain multiple keys and therefore maybe needs to get validated against the target hash slot?

[2019-11-01 09:56] pmlopes commented on #198
Eval for example must be run on all nodes. The "fix" would be to write a custom handle for it like:

https://github.com/vert-x3/vertx-redis-client/blob/master/src/main/java/io/vertx/redis/client/impl/RedisClusterClient.java#L70

[2019-11-01 20:53] wem commented on #198
Are you sure that EVAL must run against all nodes? The Redis cluster spec says:

...
And
...

As i understand (and tested with near all of the movable flagged commands and https://github.com/Grokzen/docker-redis-cluster) commands with mutliple keys they target different hash slots
will fail anyway with "(error) CROSSSLOT Keys in request don't hash to the same slot" like `redis-cli -h localhost -p

[2019-11-02 12:37] pmlopes commented on #198
Hi, `eval` is not on the list:

https://github.com/vert-x3/vertx-redis-client/blob/3.8/src/main/java/io/vertx/redis/client/impl/RedisClusterClient.java#L124-L129

So it's a error on my side, the issue here is to implement the right behavior of the commands on that list, we would also remove that restriction and let them run as they are and pass the error back

[2019-11-02 14:14] wem commented on #198
Hi ... ah, the movable flag of the commands https://github.com/vert-x3/vertx-redis-client/blob/2d2770ce35fa8a9c402ed841c9f62974dbc94f1f/src/main/java/io/vertx/redis/client/impl/CommandImpl.java#L38 is related to the command information (Movable keys) of https://redis.io/commands/command

If it's welcome, i will do a PR for processing and key slot validation of those commands. Would that okay for y

[2019-11-02 17:55] pmlopes commented on #198
Fell free tot help on the!

[2019-11-04 04:34] StarWindMoonCloud opened #200 "Redis connection pool support?"
### Version

* vert.x core: 3.8.3
* vert.x redis client: 3.8.3

### Context

I tried out RedisClient, turned out it's single connection when put onto prod, which is not cool in terms of high performance, wondering if there is any easy to use connection pool like JedisPool available

[2019-11-04 09:46] pmlopes commented on #200
Connection pooling will be available in 4.0 (it's already on master). Note that redis is single threaded, so using a single connection will give you good results. Connections should be reused across requests, and this is where the connection pooling in master enters. It allows you to forget about the connection management as reuse, but for top performance, a always active connection will give you

[2019-11-04 09:46] #200 closed

[2019-11-04 17:13] StarWindMoonCloud commented on #200
@pmlopes is it available in version 4.0.0-milestone3? If so, any good example?

[2019-11-07 20:34] pmlopes commented on #187
I'll fix it soon. The goal is to execute on the right context.

[2019-11-11 08:09] wem opened #201 "Support cluster commands on redis cluster client"
### Version

* vert.x core: 3.8.3
* vert.x redis client: 3.8.3

Cluster commands (at least the query variants e.g. slots, nodes) can become very important to be available in this mode (e.g. to implement a distributed lock). Unfortunately, the cluster command is currently marked as unsupported in general. IMHO are those command variants more "advanced" and users they use them, know what they do and

[2019-11-15 14:47] #187 closed

[2019-11-21 14:58] cp19861214 opened #207 "Redis connection pool bug for 4.0.0-milestone3 ?"
who  can give me a example "Redis connection pool" ?
I try use Redis connection pool myself ,but I found a bug, I want to loop 10 times,but when run 3 times it's bloked !

  RedisOptions config = new io.vertx.redis.client.RedisOptions();
        config.setEndpoints(endpoints);
        config.setType(RedisClientType.SENTINEL);
        config.setMasterName(masterName);
        config.setRole(RedisRo

[2019-11-22 00:03] cp19861214 commented on #207
help me !!!

[2019-11-22 08:32] pmlopes commented on #207
Hi @cp19861214 many connection pool bugs have been fixed on master, could you try to use a current snapshot instead and see if the issue you're seeing is fixed?

Just create or update your local maven `~/.m2/settings.xml` to have:

[code]

This should allow you to have access to CI snapshots so you can use `4.0.0-SNAPSHOT` versions.

[2019-11-22 14:00] cp19861214 commented on #207
I try use 4.0.0-SNAPSHOT version ,but I still see the  issue , could you give me a full example with redis connecton pool ?

[2019-11-23 12:02] cp19861214 commented on #207
@pmlopes  Could you give me a full example with redis connecton pool  ?

[2019-11-27 00:40] #169 closed

[2019-12-03 00:52] cp19861214 opened #208 "Redis connection pool bug for 4.0.0-snapshots ?"
who can give me a example "Redis connection pool" ?
I try use Redis connection pool myself ,but I found a bug, I want to loop 10 times,but when run 3 times it's bloked !

RedisOptions config = new io.vertx.redis.client.RedisOptions();
config.setEndpoints(endpoints);
config.setType(RedisClientType.SENTINEL);
config.setMasterName(masterName);
config.setRole(RedisRole.MASTER);
config.setMaxPoolSize(6

[2019-12-05 10:44] romero commented on #177
Still there in 3.8.4 =)

[2019-12-07 07:23] jlove-nz commented on #146
Just to add a note to this issue.

Following the guide https://tgrall.github.io/blog/2019/09/05/multi-nodes-redis-cluster-with-docker/ and having run two (not three, unsure if this matters) redis nodes, I have a Redis cluster which "appears" to work.

I say "appears" because not knowing Redis that well, I would connect to a master node, and be able to use the cluster, but connecting to a slave nod

[2019-12-10 13:39] pmlopes commented on #146
@jlove-nz can you give it a shot with the latest release candidate `4.0.0-milestone4` lots of fixes are on that rc, which might solve this.

On a side note, all tests for this module run on a redis cluster using this image:

[code]

It could be that the config is wrong and lots of wrong assumptions were made and I haven't read that link yet.

[2019-12-11 12:47] rvega-arg commented on #177
I can confirm still there in 3.8.4

[2019-12-12 14:15] pendula95 commented on #201
Yes, this was a mistake made by me. CLUSTER command should be supported and is only a matter of removing it from LIST of unsupported.

[2019-12-13 13:45] pmlopes commented on #201
the cluster commands are merged on master

[2019-12-13 13:45] #201 closed

[2019-12-16 19:13] pmlopes commented on #198
Already on rc4

[2019-12-16 19:13] #198 closed

[2019-12-16 19:13] pmlopes commented on #183
Already on rc4

[2019-12-16 19:13] #183 closed

[2019-12-16 19:15] pmlopes commented on #63
Closing due to inactivity

[2019-12-16 19:15] #63 closed

[2019-12-16 19:17] pmlopes commented on #82
4.0.0 milestone 4 uses buffers and avoids serialization, please test with it and reopen if needed.

[2019-12-16 19:17] #82 closed

[2019-12-16 19:18] pmlopes commented on #85
All command helpers are now built from redis `COMMAND` metadata.

[2019-12-16 19:18] #85 closed

[2019-12-16 19:19] pmlopes commented on #87
Batch is available on 4.0.0 milestone 4

[2019-12-16 19:19] #87 closed

[2019-12-16 19:19] pmlopes commented on #110
This can be tested on 4.0.0 milestone 4

[2019-12-16 19:19] #110 closed

[2019-12-16 19:20] #115 closed

[2019-12-16 19:20] pmlopes commented on #115
Closing due to inactivity

[2019-12-16 19:21] pmlopes commented on #117
New API is type safe and doesn't do automatic casts to avoid this.

[2019-12-16 19:21] #117 closed

[2019-12-16 19:23] pmlopes commented on #119
New API does map to the protocol which solves this test with 4.0.0 milestone 4 and reopen if needed.

[2019-12-16 19:23] #119 closed

[2019-12-16 19:23] #120 closed

[2019-12-16 19:24] pmlopes commented on #124
Event loop affinity has been fixed on 4.0.0 milestone 4

[2019-12-16 19:24] #124 closed

[2019-12-16 19:25] pmlopes commented on #128
New API helper is generated from redistribution metadata and fixes this, test with 4.0.0 milestone 4

[2019-12-16 19:25] #128 closed

[2019-12-16 19:27] pmlopes commented on #143
Please verify with 4.0.0 milestone 4

[2019-12-16 19:27] #143 closed

[2019-12-16 19:29] pmlopes commented on #157
New API uses the new official connection url scheme

[2019-12-16 19:29] #157 closed

[2019-12-16 19:30] #171 closed

[2019-12-16 19:31] #181 closed

[2019-12-16 20:22] pmlopes commented on #207
Please see the test:

https://github.com/vert-x3/vertx-redis-client/blob/master/src/test/java/io/vertx/redis/client/test/RedisPooledTest.java

Also note that for faster support you can join the chat:

https://gitter.im/eclipse-vertx/vertx-users

[2019-12-16 20:22] #207 closed

[2019-12-16 20:23] pmlopes commented on #208
Please see the test:

https://github.com/vert-x3/vertx-redis-client/blob/master/src/test/java/io/vertx/redis/client/test/RedisPooledTest.java

Also note that for faster support you can join the chat:

https://gitter.im/eclipse-vertx/vertx-users

Many bugs have been fixed on milestone 4

[2019-12-16 20:23] #208 closed

[2019-12-17 10:57] MarkThielen opened #209 "Psubscribe with multiple Patterns Behavior"
### Version

* vert.x core: 3.8.1
* vert.x redis client: 3.8.1

### Context

While using the PSUBSCRIBE Command with multiple patterns a "No handler waiting for message" warning is shown if the number of patters is > 1. Interestingly in the reproducer the subscription sometimes work for all patterns despite the warning. While working with in production code I have also encountered a situation wher

[2019-12-17 19:58] #139 closed

[2019-12-17 20:00] pmlopes commented on #136
Docs have been updated to latest master 4.0.0

[2019-12-17 20:00] #136 closed

[2019-12-17 20:03] pmlopes commented on #133
Fixed on master

[2019-12-17 20:03] #133 closed

[2019-12-17 20:05] pmlopes commented on #132
Fixed on master with the connection pool

[2019-12-17 20:05] #132 closed

[2019-12-17 20:55] pmlopes commented on #154
The new pooled mode solves this.

[2019-12-17 20:55] #154 closed

[2019-12-18 08:47] #138 closed

[2019-12-18 20:12] #209 closed

[2019-12-18 20:15] pmlopes commented on #178
the offer is now guarded by a full check so you should get a better error message. Also like it was commented increase the max waiting handlers limit to allow such a big queue of requests in transit.

[2019-12-18 20:15] #178 closed

[2019-12-21 04:49] edouardswiac commented on #177
Same here.

[2019-12-21 09:28] pmlopes commented on #177
Can you try out the current master? The new API supports connection pooling out of the box and does connection management for you.

[2020-01-13 09:23] vietj commented on #177
@pmlopes can we backport the new connection pool to 3.8 ?

[2020-01-16 08:41] #196 closed

[2020-01-16 08:41] #182 closed

[2020-01-16 08:42] #109 closed

[2020-01-16 08:44] pmlopes commented on #177
I've been looking at it, but I'm afraid the code change is enourmous and will require almost a full rewrite to the old API. The reason is that the 2 branches have diverged a lot and master is using promises and a new connection interface that is not compatible with the 3.x way of things.

Otherwise look at the docs where an example of implement re-connect is part of the examples until you can safe

[2020-02-07 14:38] lukjel opened #214 "RedisClientImpl - handlePubSubMessage is not using address from options"
There is a code (156):
[code]

in my opinion, it should look like:
[code]

[2020-02-09 15:12] barbarosalp commented on #177
I think this is the reason for "the try reconnect example does not work"?

[2020-02-28 12:12] mariuszpatyk opened #213 "ArrayIndexOutOfBoundsException in ArrayQueue.java"
### Version
vert.x core:3.8.5
vert.x redis client:3.8.5

### Context
This error occures **always** after more then Integer.MAX_VALUE requests are send to Redis using RedisClient

SEVERE: Unhandled exception
java.lang.ArrayIndexOutOfBoundsException: -7483648
        at io.vertx.redis.client.impl.ArrayQueue.peek(ArrayQueue.java:72)
        at io.vertx.redis.client.impl.ArrayQueue.poll(ArrayQueue.jav

[2020-03-05 18:41] chefhoobajoob commented on #53
@pmlopes : redis added tls support:
https://redis.io/topics/encryption
https://github.com/antirez/redis/pull/4855

...are there plans (or something already in the works) for supporting this in the client?

[2020-03-06 08:57] pmlopes commented on #53
This is supported at least on master as the underlying socket can be configured to use TLS, or when using a connection string using the official protocol: `rediss://server`, note the double `s`.

[2020-03-09 10:25] #213 closed

[2020-03-10 10:01] glassfox opened #216 "RedisClient 3.8.5 - Full waiting queue issue"
Hi Guys,
Found scenario when RedisClient do not forward exception in case of full waiting queue.

Version: 3.8.5

Following the test:

[code]

[2020-03-18 13:07] pmlopes commented on #214
`address` was the _wrong_ name for `endpoint`. The address was how we used to refer to the redis connection string, e.g.: `redis://localhost/1`. Now that redis has a fully recognized rfc to identify the schemas: `redis` and `rediss` and the official documentation names these `endpoints` the option object refers now to them as `endpoint`.

So this issue was a misunderstanding of the API and will be

[2020-03-18 13:07] #214 closed

[2020-03-18 15:16] underkin opened #217 "RedisClient: PubSub not using configured address"
### Description

There is an issue on 3.8 code base.
PubSub is not using the address configured when creating the client, but the DEFAULT_ADDRES

### Version

3.8.5

### Steps to reproduce

1. Create a Redis client and subscribe to any channel with a address different to io.vertx.redix
2. Subscribe to messages: vertx.eventBus().consumer (address+channel, handler)
3. Check you don't get any notific

[2020-03-22 10:59] abdullahwaqar commented on #177
Can confirm that issue still persists.

[2020-03-23 19:11] pmlopes commented on #177
@barbarosalp and @abdullahwaqar many updates have been added to the 3.9 branch, have you tried that one? or which version are you using?

Please note that with 3.9 the new client API that will be default on 4.0 is also backported, so we can phase out the old one. (it's a transition version, so we expect that users start upgrading as all old APIs are marked as deprecated).

[2020-03-23 19:48] pmlopes commented on #216
Hi @glassfox could you point out what the issue is?

When the queue is full you want the handler for the command to be notified with that error? or the generic exception handler?

[2020-03-24 06:39] glassfox commented on #216
Hi @pmlopes ,
Response to the handler of the command - is the must have behavior.
In case of generic exception handle: I saw in the original code, comment about dynamic enchantments of the queue... For the management of the queue size maybe ??? Do you have any additional scenarios ?

[2020-03-24 07:27] pmlopes commented on #216
Ok, I understand it better now. I'll work on it today.

[2020-03-24 09:17] #216 closed

[2020-03-24 09:19] pmlopes commented on #216
the fix has been backported to 3.9.0

[2020-03-24 10:30] abdullahwaqar commented on #177
No, i think i was trying to work with 3.8, added the dependency using vertex starter so it came with 3.8 i guess.

[2020-03-30 15:37] mivanov1988 opened #220 "Connection pool cannot open more than 4 connections"
### Version

* vert.x core:4.0.0-milestone4
* vert.x redis client:4.0.0-milestone4

### Context

It seems there is an issue with connection pool. It cannot open more than 4 connections.

### Do you have a reproducer?

[code]

It stuck on the fourth iteration.

### Extra
Pool.java

[code]

After fourth iteration the weight is always equal to maxWeight.

[2020-04-01 12:47] #220 closed

[2020-04-07 15:38] mivanov1988 opened #222 "No ability to set master password in Sentinel mode"
### Version

* vert.x core:4.0.0-milestone4
* vert.x redis client:4.0.0-milestone4

### Context

Redis setup: 3 sentinels, 1 master and 2 slaves. The sentinels don't required an authentication, where the master does. There is no ability to set password for the master instance in Sentinel mode.

### Do you have a reproducer?

The application is using the following configuration:

RedisOptions redis

[2020-04-09 16:24] LoranceChen commented on #177
3.9.0 is out now!at a glance of the source code which RedisClusterConnection will give a retry(16 times) on send method. And the error message "redis connection is broken" is removed form 3.9.0.

Does someone test the bug is fixed in 3.9.0?

[2020-04-11 15:59] rvega-arg commented on #177
I moved one of my services with this issue to 3.9.0 5 days ago. It is working without issues since then.

[2020-04-14 05:53] lygoing opened #223 "io.vertx.core.impl.NoStackTraceThrowable: Failed to connect to all nodes of the cluster"
### Questions

[code]

### Version

os: debian 9 amd64
jdk: 11.0.6
vertx-redis-client：3.9.0
redis: 5.0.7

### Context

The redis cluster contains 6 nodes, 3 master nodes and 3 slave nodes。The redis service is deployed on the cloud server, and I use the public IP connection. Works fine in redisdesktopmanager

### Do you have a reproducer?

Public network IP uses `xxxx` instead

[code]

I found some

[2020-04-14 09:41] lygoing commented on #223
I redeployed the redis cluster service, and now I don't need to connect via password. Through debugging, I found that some nodes can connect correctly, but at the same time there is a connection timeout. From the screenshot, we know that the connection IP is a LAN IP address.

![image](https://user-images.githubusercontent.com/5944432/79209984-bec45500-7e76-11ea-98ba-21d4945768e1.png)

[2020-04-16 14:21] LoranceChen commented on #177
I have test 3.9.0 but sorry for it not works for cluster mode.
`redis.connect` give a callback with success result which means endpoint could be connected and password is ok. but both of RedisAPI and redis.send use command result with a failure: `ErrorType: NOAUTH Authentication required.`
Besides, another error occurred when I manually send a AUTH command. The error is `RedisClusterClient does no

[2020-04-16 17:03] lygoing commented on #223
I found a magical configuration in the redis desktop manager. Selecting this item will also cause an error when the cluster is connected. It seems that the two belong to the same problem? Any help? thanks a million.

![image](https://user-images.githubusercontent.com/5944432/79485023-26c99580-8047-11ea-87d4-93289ccfa4c6.png)

[2020-04-18 15:25] lygoing opened #224 "maxPoolSize doesn't seem to have any effect"
### Questions

I used 1 and 1000 for performance testing, but the throughput I got was the same. So I suspect maxPoolSize has no effect.

I'm not sure this is a bug, I'm still learning vertx.

### Version

Redis server: 5.0.8
Vert.x core: 3.9.0
vertx-redis-client: 3.9.0

### Context

I tried local services and cloud services, and the test results are the same.

### Do you have a reproducer?

[http

[2020-04-20 14:19] pmlopes commented on #224
Seems to be a duplicate of #220

[2020-04-20 14:19] pmlopes commented on #224
The related issue has been fixed on master, the algorithm was wrong and only allowing 4 connections regardless of the config.

[2020-04-20 14:19] #224 closed

[2020-04-20 14:28] lygoing commented on #224
@pmlopes  Thanks  🍮

[2020-04-24 19:56] pmlopes commented on #222
This one is tricky because we are receiving the node ip and port from the query and of course no password. So we will need to get the password from the provided connection strings.

We will need to keep a reference to the connections config and look up by ip port.

[2020-04-24 19:58] pmlopes commented on #177
@LoranceChen the auth issue is related to #222

[2020-04-24 19:59] pmlopes commented on #223
See #222 we don't support password on cluster or sentinel yet.

[2020-04-26 08:14] lygoing commented on #223
@pmlopes  Thanks for your replay.

Secondly, there is a problem that the acquired IP becomes an intranet IP address, which is obviously not accessible on the public network.

[2020-04-26 08:56] pmlopes commented on #223
That's more complicated because I don't see how to correlate the given ip to the translated internal ip. It may depend on each node dns settings.

If you uncheck that box, will it return the public ip always?

[2020-04-26 08:59] pmlopes commented on #223
Alternatively we can have a global password that shall be applied to a node which is unknown to the user given list. The only issue is that misconfigured clients may leak the password to a bad rogue server. If we can live with that fact it could be possible.

[2020-04-26 09:07] lygoing commented on #223
In the redis desktop manager, uncheck it to work, if it is checked, you can see the ip address jump to the intranet IP in the console, then the connection failure is displayed!

This is my redis server, it is a cluster and I cancelled the password. `172.81.237.168:26301`

[2020-04-26 09:11] lygoing commented on #223
I remember that the previous API seems to have a global password setting? `setPassword ()`, as for security issues, no password can be accepted in my application because the servers are all on the intranet. But maybe someone will care about it

[2020-04-26 19:09] pmlopes commented on #223
Ok, so let's bring back the global password for connections started internally in cluster or sentinel mode.

[2020-04-29 11:06] liukch opened #225 "If connection to Redis server break, the send command promise will never complete on connection mode."
### Version

vert.x core: 3.9.0
vert.x redis client: 3.9.0

### Context

I use connection mode, but when the connection to Redis is broke, the send command promise will never be completed.
I read the source code, I find in ```io.vertx.redis.client.impl.ArrayQueue```, there are three params: **front** / **back** / **cur**. If you always ```poll()```, the **front** always plus plus, but **back** nev

[2020-04-29 11:09] liukch commented on #225
@pmlopes Can you give me some advice about this problem?  Thanks a lot.

[2020-05-01 05:49] infbox opened #227 "when an idle connection with a pika server is closed by the server, the redisClient will break on next user call,without throwing an exception that can be catched by user"
### Questions

`五月 01, 2020 1:33:27 下午 io.vertx.redis.client.impl.ConnectionManager
严重: Unhandled Error
java.nio.channels.ClosedChannelException
	at io.netty.channel.AbstractChannel$AbstractUnsafe.newClosedChannelException(AbstractChannel.java:957)
	at io.netty.channel.AbstractChannel$AbstractUnsafe.write(AbstractChannel.java:865)
	at io.netty.channel.DefaultChannelPipeline$HeadContext.write(Defau

[2020-05-01 07:14] wem commented on #227
You are able to catch network related exceptions with `RedisConnection.exceptionHandler`. You may could obtain a connection with `Redis.connect` and call `RedisConnection.send` afterward, instead of `Redis.send` directly, so you get notified about connection issues.

[2020-05-01 08:26] pmlopes opened #228 "resp3 support"
From redis 6.0.0 there is a new wire protocol  resp3.

In the 3rd iteration the protocol is richer in terms of types and introduces a new connection command.

This issue should track the implementation of the protocol on this client.

[2020-05-01 13:33] infbox commented on #227
thanks for your reply. But I can't figure out how to use the RedisConnection.send(Request,Handler) api ,since both the vertx doc page and the official examples do not explain how to set Request parameter with commands like setex,mset ,get.  maybe the official examples of vertx-redis-client should be updated now.

[2020-05-01 14:30] wem commented on #227
Here is an example class that should show both approaches. The second provides the functionality you may are looking for ... I hope this help:

[code]

[2020-05-02 16:16] wem commented on #227
Btw ... this PR relates to this problem i think https://github.com/vert-x3/vertx-redis-client/pull/226

[2020-05-04 05:26] glassfox opened #229 "Redis client in 'pulled mode' miss commands"
version: Redis Client 3.9.0

### Context

After upgrade to version 3.9.0 sometimes commands do not reach the redis server (without any exception).
This behavior is infrequent and occurs in 'pulled mode'. I lack to create test that reproduce the issue.
Yesterday I move my redis module to 'connection mode' and meanwhile the issue didn't occurs.

few points:
1. environment has mixed, 'pulled' and 'co

[2020-05-11 10:51] pmlopes commented on #229
@glassfox what do you mean by `pulled` mode?

[2020-05-11 11:05] pmlopes commented on #227
@infbox this seems to be a bug at netty level (the IO library). The exception should not be thrown but passed back to the callback.

[2020-05-11 11:06] glassfox commented on #229
Hi @pmlopes,
My mistake. I mean `pooled`.
Pooled mode - mean connection pool via Redis.send()
Lingo from code comments:

https://github.com/vert-x3/vertx-redis-client/blob/93f865453d18a15aa3ed54bd2191b975b0187480/src/main/java/io/vertx/redis/client/impl/RedisAPIImpl.java#L52-L58

[2020-05-11 11:19] vietj commented on #227
I looked at the code and wrote this reproducer, it seems that the Netty code and NetSocket code is behaving correctly.

[code]

will produce

[code]

The reported stack trace does not make sense to me, I believe one should reproduce the issue and observe what is actually happening.

[2020-05-11 11:20] pmlopes commented on #227
@infbox can you explain where you get this `pika` server how to get it running so I can debug why is this exception being thrown?

[2020-05-11 19:20] pmlopes commented on #229
Does large amount of commands is somehow close to Integer.MAX_VALUE?

There was an issue when the total run commands would reach that value and the overflow was not handled properly

[2020-05-12 06:43] glassfox commented on #229
You mean total sent commands ? Maybe.
My config: "maxPoolWaiting" is 100000 and "maxPoolSize" is 8
I able to check this in my environment.
Any log, metric or error handling able to help me to insure the overflow ?

[2020-05-12 21:58] zenios opened #230 "Support for redis over ssl"
Event though rediss scheme is supported it does not enable ssl.

What is required is to execute an upgradetoSSL inside RedisConnectionProvider.connect when the uri is ssl enabled.

[2020-05-13 03:05] infbox commented on #227
@pmlopes  pika is a redis-protocol-compatible KV server ,it's official adress is  https://github.com/Qihoo360/pika .
Finally I found that , the reason why I can't catch the exception is that ,Netty throws an excepton with a null error message. so at first I wrote my catch logic as below:
`myRedisConnection.exceptionHandler(th->{
      // th.getMessage() returns null in fact which is really beyond

[2020-05-13 03:05] #227 closed

[2020-05-13 06:37] pmlopes commented on #227
@infbox instead of looking at the message, you could do:

[code]

This would not fail and allow handling like on a try catch. Hopefully with java 15 this shall be even easier with the new switch expressions

[2020-05-14 22:16] akoufa opened #232 "Reconnection fails completely"
Hello to all. I am using the code from the example [Vertx Redis](https://vertx.io/docs/vertx-redis-client/java/#_implementing_reconnect_on_error) but it seems that the `exceptionHandler` is not working correctly. I am testing it locally by restarting Redis docker container but the Redis client does not reconnect again and the `exceptionHandler` is not called at all. I am using the Redis client in

[2020-05-15 11:45] pmlopes commented on #230
@zenios currently we use a connection pool which hides the `netClient` instance. In order to support `ssl` we need to create the pool with `ssl` enabled. Currently this is possible in a hidden way, by setting `netClientOptions.setSSL(true)`.

Like you said, the `s` in the redis connection string is not considered atm. I think we need to be a bit pragmatic here.

When creating the connection pool (

[2020-05-15 11:47] zenios commented on #230
@pmlopes netClientOptions.setSSL(true) indeed works but what if i have multiple endpoints (Some with ssl some not). This is the reason it has to be done on a per socket

[2020-05-15 11:50] zenios commented on #230
@pmlopes  Actually i think it is possible. If i am not mistaken,

https://github.com/vert-x3/vertx-redis-client/blob/01605b8efd30e027460514cc1a6cfd762c42c038/src/main/java/io/vertx/redis/client/impl/RedisConnectionManager.java#L109

Here we should check if redisURI.socketAddress() is ssl then updateToSSL

[2020-05-15 11:50] pmlopes commented on #230
then the connection pool doesn't fit our needs as we need 2 modes and we can't change the `netClient` ssl flag once it's created if i'm not mistaken.

Also I never heard of such setup (although possible, of course), would someone use a mix or ssl and non ssl connections on a cluster/sentinel mode?

[2020-05-15 11:53] pmlopes commented on #230
@tgrall you know a bit of redis right :wink: ? what are the usual cases for `redis` cluster/sentinel `ssl` usage? do you even see them mixed together?

Also in cluster mode, when a query fails and the server returns a `MOVED` response, I belive you only get, the `bucket`, `ip address` and `port`. There's no info if it's `ssl`, right?

[2020-05-15 12:01] zenios commented on #230
@pmlopes i have the impression that a single net client can support both connections (Either ssl or not)

once the netSocket is connected if upgradeToSsl is called then an ssl handler is added  to the pipeline

sql-client does the same

[2020-05-15 12:01] pmlopes commented on #230
@zenios you're right! I've just checked with Julien. we can start the pool without `SSL` and upgrade the socket on a per use case basis.

So this is a cleaner approach that solves the case where all server endpoints are known. Still to identify/handle is the case where a cluster is connected without the full node knowledge, in that case, the redis response is incomplete.

[2020-05-15 12:05] zenios commented on #230
Cluster

When Redis Cluster is used, use tls-cluster yes in order to enable TLS for
the cluster bus and cross-node connections.

This is from redis.i assume if a cluster is ssl enabled then all nodes
should be ssl enabled as well

On Fri, 15 May 2020, 15:02 Paulo Lopes, <notifications@github.com> wrote:

[2020-05-15 12:14] pmlopes commented on #230
Ok, then we can use the current connection ssl state to connect to the new node.

[2020-05-15 12:17] pmlopes commented on #230
So, so sum up the current thread:

1. create a connection pool as usual
2. on connection creation, perform `startls` handshake if needed (consider the pool, netclient config and the given redis url)
3. downgrade is not allowed (over complicates the logic), in such cases users are advised to not set `ssl` on the `netClientOptions`.

On cluster mode, doing a reconnect will take the ssl state from th

[2020-05-15 12:21] zenios commented on #230
1. `if needed` will be according to the scheme right?
2. What do you mean by downgrade? Each netSocket is binded to a url (redis:// or rediss://). When can a url change scheme in order to downgrade?

[2020-05-15 14:40] sg002-reactive-prog opened #233 "ILLEGAL_STATE Unknown RESP type 5 followed by java.nio.channels.ClosedChannelException exceptions"
### Version

3.8.3

### Context

We encountered this strange behaviour with the client in production
Basically we us rxMgetMany(keys) method on the redisClient

Max number of calls done to Mget is 60 per second with max keys 33, which is reasonable load

This Mget call suddenly started taking 17 seconds with this exception
io.vertx.redis.client.impl.types.ErrorType: ILLEGAL_STATE Unknown RESP type

[2020-05-15 17:46] pmlopes commented on #230
@zenios by if needed I wanted to say:

If a user set the flag `ssl` on net client options and the connection is: `rediss` the no need to upgrade, the default connection is already ssl.

By no downgrade, I mean, if again the user sets `ssl` on the net client options a request with `redis://` shall fail as by default the pool is operating in ssl mode.

To explain even further, we can't just ignore t

[2020-05-15 17:50] zenios commented on #230
Actually you can set all the ssl options without enabling ssl and they will be used when upgrading

but yes you are right. If someone forces ssl on NetOptions then redis:// should not be accepted. It would be good to throw an exception that explains these case (If and when happens)

[2020-05-16 06:07] pmlopes commented on #233
This is a problem detected at the parser, it probably isn't related to load. You mention 33 entry mget calls. Can you try to change the options config `maxNestedArrays` to a bigger number, say 64 or 128? By default it's 32 and it could be forcing the parser to crash if not enough slots are available.

[2020-05-16 06:10] pmlopes commented on #225
Can you try it with master? Some changes have been done to safeguard against wrong state on the queue.

[2020-05-17 10:23] sg002-reactive-prog commented on #233
Thanks for the response. Much appreciated. I will try setting that option.

[2020-05-17 10:30] sg002-reactive-prog commented on #233
There are two RedisOptions classes. One in io.vertx.redis package and other in io.vertx.redis.client package in version 3.8.3
The maxNestedArrays option is in io.vertx.redis.client.RedisOptions and not in io.vertx.redis.RedisOptions?

We are calling RedisClient.create(this.vertx, redisConfiguration) which seems to be using io.vertx.redis.RedisOptions which doesn't have the maxNestedArrays option

[2020-05-19 11:18] #230 closed

[2020-05-19 13:28] sg002-reactive-prog commented on #233
@pmlopes we upgraded to vertx 3.9.1
Noticed io.vertx.redis.RedisOptions is deprecated and we switched to use io.vertx.redis.client.RedisAPI to create the client

But io.vertx.redis.client.RedisOptions doesn't support SSL. This is in the Javadoc
`Does not support rediss (redis over ssl scheme) for now.`

We are using AWS elastic cache over ssl. Switching to use  io.vertx.redis.client.RedisOptionsRe

[2020-05-21 08:57] okou19900722 opened #235 "wrong password with old api in 3.9"
In the old api, it will convert `io.vertx.redis.RedisOptions` to a connectionString like:

[code]

but if my password contains '#', it will get a wrong password in `RedisURI`, it seem like that the password dos not encode. e.g

[code]
The real password is `abc#123`，but the param in the query is `abc`

[2020-05-21 13:52] pmlopes commented on #235
Yes it should be URL encoded in the concatenation and URL decoded while parsing the value.

[2020-05-22 01:59] gaol commented on #235
Agreed, according to https://tools.ietf.org/html/rfc3986#section-3.5, the `#` sign indicates the fragment part of the URI, you need to encode the password part using `java.net.URLEncoder.encode("abc#123")` to work :)

[2020-05-22 12:16] okou19900722 commented on #235
fixed in https://github.com/vert-x3/vertx-redis-client/pull/236

[2020-05-22 12:16] #235 closed

[2020-06-06 05:32] sagaxu commented on #213
[code]
write the value to queue[0] if back == Integer.MAX_VALUE, is it possible that queue[0] is used by another value?

e.g.
[code]

one possible solution
[code]

[2020-06-08 16:49] pendula95 commented on #232
Can you please provide a small reproducer?

[2020-06-10 02:30] sagaxu commented on #213
the same change may be applied to the front too

[2020-06-15 08:44] akoufa commented on #232
@pendula95 I can try to find time to create a small reproducer. But the issue is happening just using the vertx redis client (version: 3.8.5) according to the documentation and then restarting the redis instance.

[2020-06-15 09:25] pjgg opened #237 "rxSrandmember -> response.getKeys method returns even keys."
### Version

3.9.1

### Context

When I make a `rxSrandmember mySet 5` query, I should retrieve 5 randoms keys from a collection. Instead, I retrieve the half of the keys or an exception "Number of key is not even"

### Do you have a reproducer?

Redis Raw query(Expected behavior):

[code]

Vertx API (Rx):

[code]
**Note:** Response has the right amount of keys. BUT `getKeys` filter the half.

Sou

[2020-06-25 07:59] MYDIH opened #238 "Can't connect to azure redis"
### Version

3.9.1

### Context

When I try to connect to a Microsoft.Cache redis instance, I get an `IOException` :

[code]

I used both `redis://` and `rediss://` scheme considering that Microsoft.Cache is using SSL. I can't, for obvious reason, give the connection string I'm using but it's along those lines :

`rediss://:<password>@<host.redis.cache.windows.net>:<port>`

PS: the error is locali

[2020-06-29 06:45] MYDIH commented on #238
Seems like SSL is only implemented in 4.0.0. It's connecting now.

Closing

[2020-06-29 06:45] #238 closed

[2020-06-29 06:53] MYDIH opened #239 "RedisConnection#Handler's handler never called"
### Version

4.0.0-milestone5

### Context

Trying to use Pub/Sub with no luck. No exception raised, the handler is just not called. May be linked to SSL ?!

### Steps to reproduce

1. Connect to a redis server using SSL
[code]

`done` is written to the console but the handler isn't called (no message logged nor called during a debug session). I also tried to send a message directly using the redi

[2020-06-29 07:18] pmlopes commented on #239
@MYDIH The handler will only be called if you have `subscribed` to a channel or pattern, unless you do that the server will not echo back the messages. I don't know exactly how it works with `redis-cli` but I suspect that you just see the echo of the command you wrote.

If you subscribe first to the `channel1` and then publish you should be able to see it.

[2020-06-29 14:18] MYDIH commented on #239
Can I ask you an example ? Or maybe you could point me to the right documentation, it seems I can't find it on my own ...

[2020-06-29 14:25] #239 closed

[2020-07-22 11:43] pendula95 commented on #232
I have created a small example that shows reconnect logic is working. Test wit standalone redis in docker. Vertx Redis Version 3.9.0.
Start redis -> start vertx project -> wait for couple success calls -> stop redis -> get reconnect message -> start redis -> success output.
I am attaching a reproducer.
`class RedisVerticle extends AbstractVerticle {

    private static final int MAX_RECONNECT_RETR

[2020-07-23 14:40] akoufa commented on #232
@pendula95 Thank you for checking it. It seems then fixed with Vertx 3.9.0 . I will proceed with closing this ticket for the moment.

[2020-07-23 14:40] #232 closed

[2020-07-23 16:16] pendula95 commented on #237
You are looking at this wrong. method response.getKeys() returns keys that are specified in request, not result (elements of set) of the command. To get results (random elements from list) please call something like this:
`response.stream().map(Response::toString).collect(Collectors.toList()));`

[2020-07-23 16:21] pendula95 commented on #237
Nope, my bad. Looks like there is some strange logic with this even number that is required. @pmlopes I can not see from history or comments why this is implemented like this. Even naming convention of the method does not seems logical at all. Can you please elaborate on this, I would like to fix this.

[2020-07-23 16:27] pendula95 commented on #237
I guess this was intended for return values that are map like. Like a hash set so even memebers of result set would be keys and uneven would be values. key1, value1, key2, value2, key3, value3

[2020-07-28 08:17] pmlopes commented on #237
Hi @pjgg, the last comment from @pendula95 is correct. The key keys is supposed to allow a response to be used like a map. This is useful for example when working `hgetall` https://redis.io/commands/hgetall

Where a common response is:

[code]

In this case you can do:

[code]

If you just want all values as a list then use the iterator or use size in a loop:

[code]

[2020-08-03 07:01] wbkys opened #240 "RedisAPI redis is abnormal when the network is disconnected"
### Questions

RedisAPI redis is abnormal when the network is disconnected.

I know he was caused by a network disconnect,
But this exception cannot be caught because it cannot be reconnected.

For example:
RedisAPI redis.redis == null

### Version

vertx-redis-client 3.9.1

### Context

八月 03, 2020 2:49:59 下午 io.vertx.redis.client.impl.ConnectionManager
严重: Unhandled Error
java.nio.channels.Close

[2020-08-04 15:21] pendula95 commented on #240
Can you please provide a small example as I can not reproduce this

[2020-08-05 02:38] wbkys commented on #240
`package com.audio.starter;

import io.vertx.core.AbstractVerticle;
import io.vertx.core.Promise;
import io.vertx.redis.client.Redis;
import io.vertx.redis.client.RedisAPI;
import io.vertx.redis.client.RedisClientType;
import io.vertx.redis.client.RedisOptions;

public class TestRedis extends AbstractVerticle{
	private RedisOptions options;
	private RedisAPI redis;

	@Override
	public void start(P

[2020-08-05 10:39] pendula95 commented on #240
Please read this, as this covers the issue you have. You need to implement exception handler that should perform reconnect for you. https://vertx.io/docs/vertx-redis-client/java/#_implementing_reconnect_on_error

Also here is a small snippet for your case that I have tested:
[code]

@pmlopes I think you should remove bug from this issue.

[2020-08-05 10:46] pmlopes commented on #240
Also note that we now also have a connection pool. In this case you don't need to get a connection anymore (explicitly) and it manages the reconnect for you (on error, or ttl the connection expires, the socket is closed and a new one is open for you)

[2020-08-05 11:16] wbkys commented on #240
I'm sorry, I've ignored this

[2020-08-05 11:16] #240 closed

[2020-08-05 11:41] wbkys commented on #240
use  https://vertx.io/docs/vertx-redis-client/java/#_implementing_reconnect_on_error
If you disconnect the network twice, an unrecoverable exception will appear

[2020-08-05 11:46] wbkys commented on #240
I'm too stupid

 attemptReconnect add client.exceptionHandler(e -> {
			            this.attemptReconnect(1);
			        });

[2020-08-29 00:23] ruixuel opened #242 "Cannot connect to redis when using sentinel mode and specifying db-id"
### Version
3.9.2

### Context
I initialize the redis options as:
[code]

However, I got error **No more endpoints in chain**.
And after I debugged the source code, the error is cause by **ERR unknown command `select`, with args beginning with: `0`**
in [https://github.com/vert-x3/vertx-redis-client/blob/master/src/main/java/io/vertx/redis/client/impl/RedisSentinelClient.java#L188](url)
The sentin

[2020-08-31 11:16] sagaxu opened #244 "redis connection leak if RedisAPI operating in pooled mode with sentinel"
### Version
3.9.2

### Context
[code]

[code]

When operating in pooled mode, it will return the connection to the pool automatically.
But we have two connections if we use redis sentinel,  how to return the other connection to the pool?

### Do you have a reproducer?
Everything is fine without sentinel
[code]

---
send 10 commands, then can't get any connection later
[code]

[2020-08-31 14:12] #242 closed

[2020-08-31 19:26] pmlopes commented on #244
This was fixed on #245

[2020-08-31 19:26] #244 closed

[2020-08-31 19:26] pmlopes commented on #228
Resp 3 is now implemented.

[2020-08-31 19:27] #228 closed

[2020-08-31 20:13] roostapour commented on #242
@pmlopes Thanks for looking into it. This is blocking us.
`RedisOptions` had a method which was serving the exact purpose. Why is it deprecated now?

[2020-08-31 20:50] pmlopes commented on #242
Hi, @roostapour the reasons are briefly described here:
 https://github.com/vert-x3/vertx-4-migration-guide/blob/master/asciidoc/redis.adoc

The current client was hard to maintain and showing its age. No support for cluster, extensions and wire protocol of redis 6.

To solve this we've decided to keep it simple as recommended by redis itself. One of the biggest changes is that redis now operates

[2020-09-02 21:11] zenios opened #246 "Array,Set issue with RESP3 when length is even"
Since list and sets are parsed as multitype, based on the following line

https://github.com/vert-x3/vertx-redis-client/blob/e9e3c0db349d662e676c04235841c68488d6f6d2/src/main/java/io/vertx/redis/client/impl/types/MultiType.java#L35

each of the above that happens to have even number of elements, is considered a map resulting to each odd (indexed) element to be lost

[2020-09-10 19:54] #246 closed

[2020-09-16 15:12] MYDIH opened #248 "Can't detect a redis restart when using pub/sub"
### Version

4.0.0-milestone5 (needed it seems to support SSL)

### Context

When I use the client in Pub/Sub mode, I can't detect a redis failure (like a reboot for example). Here is the code :

[code]

To reproduce the behaviour I describe, just restart your redis instance while running this (or a similar) class, no exception raised ... How can I recover from temporary failures in such situation

[2020-09-22 16:53] mafa73 commented on #242
Will this be available in 3.9.x soon?

[2020-09-23 08:10] lygoing opened #250 "How to support protobuff serialization"
Hi.

The RedisAPI operation method parameters are all String. What should I do with my binary value?
Do I need to use base64? oh no. 😂

Best Regards.

[2020-09-23 08:32] lygoing commented on #250
I seem to have found it, I may not be able to use RedisAPI.

[code]

Any suggestions? I don't know anything about redis.

thanks.

[2020-09-24 10:24] pmlopes commented on #250
If you pass arguments as `Buffer` they are considered to be binary. Indeed the `RedisAPI` helper only works with Strings for now.

[2020-09-24 10:24] #250 closed

[2020-09-24 12:13] lygoing commented on #250
@pmlopes  Thank you very much. ☕

[2020-09-27 00:34] pendula95 commented on #223
For the second part of the issue. In order for this kind of setup to work where redis nodes will return private/internal IPs and in configuration we setup public IPs can't we group join public IP (configured) and private/internal IPs by their redis node ids.
For this to work I assume that all nodes need to be added in configuration.

[2020-09-28 09:56] pendula95 commented on #223
@lygoing if this checkbox is unchecked and for example resharding happens how does driver handle redirect response from node as it will contain private IP that driver does not now how to handle. driver = redis desktop manager

[2020-10-05 12:23] #223 closed

[2020-10-06 10:44] #237 closed

[2020-10-06 10:56] pmlopes commented on #222
This is fixed on master.

[2020-10-06 10:56] #222 closed

[2020-10-06 10:57] pmlopes commented on #233
SSL has been fixed on master

[2020-10-06 10:57] #233 closed

[2020-10-06 11:04] pmlopes commented on #177
auth has been fixed on master, we now cover all auth modes, resp2 and resp3.

I'll close this issue for now and if anything is missing, please create a new issue for the specific problem.

[2020-10-06 11:04] #177 closed

[2020-10-06 11:08] pmlopes commented on #176
The client is written in an asynchronous programing model. Forcing it to be synchronized will serialize all commands plus connection handling which you observe as slow.

In order to use it in a sync environment you should have 1 eventloop per thread and a client per thread.

[2020-10-06 11:08] #176 closed

[2020-10-06 11:09] pmlopes commented on #229
The queue has been fixed to become circular (no overflows).

[2020-10-06 11:09] #229 closed

[2020-10-06 11:11] pmlopes commented on #146
Passwords are now inherited from the parent connection and fall back to the default password on options.

[2020-10-06 11:11] #146 closed

[2020-10-06 11:12] pmlopes commented on #248
I think we could see if it is possible to issue a `PING` command when a connection is returned to the pool. If it fails we accept it, otherwise we discard it.

[2020-10-07 13:29] pmlopes commented on #248
Fixed by: https://github.com/vert-x3/vertx-redis-client/commit/04a5af8be6f901cdf72a401d52b09c603dc83cdf

When working in pooled mode, pub/sub commands are not allowed as the connection is returned to the pool after each invocation.

The commit: https://github.com/vert-x3/vertx-redis-client/commit/5f84faef1237ada48c88e91c463c0b49bb7d497c

Also explains that reconnect is to be handled by the user (w

[2020-10-07 13:29] #248 closed

[2020-10-07 13:30] pmlopes commented on #225
Closing to inactivity and master may already solve the problem.

[2020-10-07 13:30] #225 closed

[2020-10-07 13:35] pmlopes commented on #217
In 4.0.0 we're letting users decide what to do on `push` messages. Instead of "forcing" the eventbus a `handler` is expected to be provided to do this. As a user you can either send it over the eventbus or handle in any other way. For the cases where eventbus is not needed, this has the benefit that it reduces the latency and gc and messages don't need to be encoded/decoded several times while swi

[2020-10-07 13:35] #217 closed

[2020-10-12 14:11] barbarosalp opened #252 "When used with Redis cluster, redisClient doesn't get subscribed to all of the shards within the cluster."
### Questions

How can we get Vertx Redis client to subscribe to the keyspace events of all the shards of a Redis cluster(AWS Elasticache Redis Cluster)?

### Version

Which version(s) did you encounter this bug ?
3.9.3

### Context

Using the configuration endpoint of AWS Elasticache Redis cluster that consists of 3 shards and when subscribed to keyspace events by consuming the `io.vertx.redis.__

[2020-10-12 14:34] pmlopes commented on #252
@barbarosalp can you, verify that the issue still happens on `master`? we're getting close to a 4.0.0 release, so backporting fixes is getting hard as the codebases are quite appart right now.

[2020-10-13 13:47] glassfox opened #254 "Redis do not restore contextual data"
Hi,
Any data stored in context, disappear after redis command.

vertx-redis-client.4.0.0-beta3

Following the test that reproduce the issue.

[code]

[2020-10-13 14:09] koby08 opened #255 ""Implementing Reconnect on Error" example in README causes a connection leak"
Hi,

It seems that the "Implementing Reconnect on Error" section in the [official docs](https://vertx.io/docs/vertx-redis-client/java/) for this client contains a bad example. If someone runs this example, each time it reconnects, the old connection will remain open. This will cause a connection leak to redis server.

The reason for this leak is that in each reconnect attempt Redis.createClient()

[2020-10-13 14:17] kobytg17 commented on #255
Actually another issue with the current implementation is if there are several in-flight requests to Redis, and all fire an exception due to some failure, there will be multiple connection attempts that will create dangling clients

[2020-10-13 15:33] annashumylo opened #256 "Unexpected Thread switch after Redis command execution"
Hello all,
I'm using vertx-redis-client latest version(4.0.0-milestone5) and I detected a weird behavior.
When some calls from different threads are executed to Redis using connection pool, the current thread always became the same (same id) after receiving the result.

The same behavior was In the past for PgPoo. But we saw a fix in vertx4, so I'm surprised that same issue exists now in the new R

[2020-10-13 15:50] pmlopes commented on #256
The latest version is io.vertx:vertx-redis-client:4.0.0.Beta3

Milestone 5 is from May 2020 and many updates have been added.

Can you verify it?

[2020-10-13 15:51] annashumylo opened #257 "Broken iterator in Response in zrangebyscore with WITHSCORES parameter"
Hi,

I detected a bug in RedisAPI.rxZrangebyscore()- When I call it with parameter WITHSCORE and try to use iterator on Response, it jumps over the next value. I found out that in MultiType.java asMap flag was set to true, but rxZrangebyscore in this case is a list with values: [value, score]. Also Response.getKeys() will return an empty set which should be correct. Actually this whole  mix of map

[2020-10-13 16:04] annashumylo commented on #256
Sorry, you are right. But unfortunately with Beta3 thread problem still remain.

[2020-10-13 16:17] annashumylo opened #258 "NPE in RedisAPI.rxHmget() and rxMget() call with non-existing key"
According to the official Redis documentation, the request rxHmget and rxMget() with non existing key in the parameter must return list of Nils with the size the same as the amount of requested fields. I'm using Beta3.

link: https://redis.io/commands/hmget

Now the result of it is NPE in MultiType.java, in this method:

[code]
Here it calls reply.type() in the switch section, but reply is null.
T

[2020-10-13 16:48] aesteve commented on #257
I think I got a similar issue while upgrading from milestone4 to Beta3.

I'm using `rxHgetall` which used to return an iterator over key, value, key, value. I used to use this iterator then retain even entries (the values) but now it returns a multi. Since multi is iterable, I thought I could just iterate over entries (and get rid of the odd/even stuff) but I can't. I had to:
[code]

[2020-10-13 18:28] pmlopes commented on #257
Hi, this isn't a bug per se. In redis < 6 the protocol only defined a few types, map wasn't one. On >=6 it defines many new types, where map is one.

So I assume you're testing with 6 (and as the client now fully supports all types) you observe this.

You probably should call `keys()` and get based on that, instead of iterate.

[2020-10-13 18:30] pmlopes commented on #257
Regarding the original issue, there was a way the iterator was looping, and it's fixed on master. So the next beta should fix it

[2020-10-14 07:33] aesteve commented on #257
Thanks for your answer @pmlopes and sorry for squatting this issue I thought it was related.
Should we discuss usability in another issue?

Sounds weird to me that a `Map` result is not considered iterable.

[2020-10-14 07:40] pmlopes commented on #257
@aesteve yes, let's open a second one. I think we could make it iterate on keys (maybe)

[2020-10-14 18:07] pmlopes commented on #256
Hi, could you give a shot if PR #259 fixes this? It still needs to handle the promise based api + tests

[2020-10-15 09:09] annashumylo commented on #256
Hey, I tried to test it with 4.0.0-SNAPSHOT version and for vertx-redis-client I used a jar file from https://github.com/vert-x3/vertx-redis-client/tree/issues/256 but it still doesn't work.

[2020-10-15 18:39] pmlopes commented on #256
Hi @annashumylo could you help out preparing a unit test that reproduces the issue and fails it? I'm ooo this week but it would help me try to triage where the switch is going wrong.

[2020-10-19 10:37] annashumylo commented on #256
Hi, @pmlopes , no problem. You can use this:
[code]

[2020-10-19 14:56] pmlopes commented on #256
@annashumylo I've completed the "refactor" to ensure we're on the right thread.

https://github.com/vert-x3/vertx-redis-client/pull/259

I've added your test (with some small changes to avoid pulling dependencies). I have the feeling that now we're doing the things right (and the test is green on my side too).

As it's a bit of a refactor, could you run some tests on your side on that specific pul

[2020-10-20 06:41] annashumylo commented on #256
@pmlopes hi, works on my side too! Thank you for a such a nice job :)

[2020-10-20 07:49] #258 closed

[2020-10-20 07:50] #257 closed

[2020-10-20 07:50] #256 closed

[2020-10-20 07:51] pmlopes commented on #254
@glassfox could you give a try with the current `master` ? I've fixed a bug with right context/thread that may solve your issue.

[2020-10-20 07:52] pmlopes commented on #254
Maybe a duplicate of #256

[2020-10-22 08:19] glassfox commented on #254
Thanks @pmlopes.
Looks good.

[2020-11-05 11:15] glassfox commented on #254
@pmlopes Just to ensure. The actual fix do not included in CR1.

[2020-11-11 12:22] kobytg17 opened #260 "RedisAPI incorrectly returns @Nullable Response for non-void commands"
All commands in RedisAPI (e.g. get) and their Kotlin wrappers (e.g. getAwait) return `@Nullable Response` (in kotlin: `Response?`). For example:
`suspend fun RedisAPI.hgetAwait(arg0: String, arg1: String): Response?`

To my understanding, looking at the implementation of `send()`, this cannot happen for non-void commands (i.e. this can only happen for `subscribe`, `unsubscribe`, `psubscribe`, `pun

[2020-11-11 14:16] kobytg17 commented on #260
Ok just figured out commands are returning null when there is a syntax error or bad arguments are given to command (I assumed they'll throw an exception).. Unfortunately null can also be returned in legitimate cases like lpop from an empty list

[2020-11-11 14:16] #260 closed

[2020-11-13 14:33] AnthonyRuffinoDH opened #262 "Override exeception handler"
https://github.com/vert-x3/vertx-redis-client/blob/2d306b27a37b4a56eae567d7fb382691db337f10/src/main/java/io/vertx/redis/client/impl/RedisConnectionManager.java#L160

It would be nice to override the connection exception handler when using connection pooling from the ConnectionManager.

[2020-11-13 15:48] pmlopes commented on #262
That could be possible. It would require having a new method in the top level `Redis` interface and propagate it to the connection after it's created.

[2020-11-23 22:27] calebvarberg opened #264 "Possibly Not Setting ConnectionPool Max Queue Size correctly"
### Version

3.9.2 (appears to still be an issue)

### Context

I recently noticed a lot of these exception from code I was running

	at io.vertx.core.http.impl.pool.Pool.lambda$nextTask$1(Pool.java:293)
	at io.vertx.core.http.impl.pool.Pool.checkPendingTasks(Pool.java:250)
	at io.netty.util.concurrent.AbstractEventExecutor.safeExecute(AbstractEventExecutor.java:164)
	at io.netty.util.concurrent.S

[2020-11-24 14:33] calebvarberg commented on #264
I can make an MR as well. I just wasn't 100% sure if this wasn't done intentionally or not

[2020-11-24 17:01] calebvarberg commented on #264
applied the "fixes" that i thought were relevant. Again, let me know if I am just misunderstanding the docs, and these configuration values do not mean what I think they mean.

[2020-11-25 13:50] pmlopes commented on #264
Thanks! Indeed the configuration parameters were being used in the wrong way!

[2020-11-25 13:50] #264 closed

[2020-11-25 15:56] calebvarberg commented on #264
@pmlopes thanks for the help. Any idea on when I can expect the 3.9.5 release with these changes?

[2020-11-30 13:53] zhoudingyun opened #267 "Redis connection pool leaks when handling exceptions."
### Version
Vert.x > 4.0.0

 RedisAPI.api(redis).get("test").onSuccess(a->{
           // todo something   #If there is an exception here, it will cause the connection pool to leak.
        }).onFailure(t->{

        });

[2020-12-01 11:02] pmlopes commented on #267
@zhoudingyun can you provide an example of this showing the leak? I'm looking at the code and I already see:

[code]

To ensure this issue doesn't happen. The fix is on `CR2`.

[2020-12-01 11:10] zhoudingyun commented on #267
@pmlopes
example:
RedisAPI.api(redis).get("test").onSuccess(a->{
 int a = 1;
 int b = 0;
 int c = a/b;
}).onFailure(t->{

 });

[2020-12-01 11:10] zhoudingyun commented on #267
@pmlopes
example:
RedisAPI.api(redis).get("test").onSuccess(ar->{
    int a = 1;
    int b = 0;
    int c = a/b;
}).onFailure(t->{

});

[2020-12-01 15:24] pmlopes commented on #267
Sorry @zhoudingyun I cannot reproduce the issue. I've created the test:

[code]

And on the `BaseRedisClient` I've print the connection, this is the output:

[code]

So on the second call the redis connection is not leaked, it's reused. Note that `close()` does not immediately closes the connection, as it may be reused (because it's a connection pool).

[2020-12-01 15:35] zhoudingyun commented on #267
public class TestApplication {
    public static void main(String[] args) {
        Vertx vertx = Vertx.vertx();
        final Redis redis = Redis.createClient(vertx, "redis://172.18.20.76:6379");

        vertx.setPeriodic(1000, aa->{
            RedisAPI.api(redis).get("aa").onSuccess(ar -> {
                int a = 1;
                int b = 0;
                int c = a / b;
            }).onFa

[2020-12-01 15:49] pmlopes commented on #267
Thanks! I'll try to rewrite the test to use your approach and investigate!

[2020-12-02 09:10] pmlopes commented on #267
I've run your example with the current `master` and on my linux box it only uses a few connections if I leave it to run for a very long period:

[code]

I'm guessing it could be related how connections are handled on Windows?

[2020-12-10 16:33] pyranja opened #270 "Cluster client is only authenticating initial connection"
### Version

3.9.4

### Context

We are upgrading to vertx 3.9.4 and ported to the new redis client implementation.

Connecting to an insecure cluster works, but requests to an authenticated cluster fail with:

`NOAUTH Authentication required.`

When inspecting the netty logs, it's apparent that only the first connection sends a `AUTH` command using the configured password. That connection is used

[2020-12-10 16:37] pyranja commented on #270
I might be able to provide a PR if, my fix idea works.

Can you think of a different workaround @pmlopes ?

[2020-12-10 17:08] pmlopes commented on #270
@pyranja I think this issue is solved in master (currently 4.0.0) using the same idea. Please feel free to have a look at the master code and certainly, do a pull request :+1:

[2020-12-11 14:40] pmlopes commented on #270
Should be in 3.9.5

[2020-12-11 14:41] #270 closed

[2020-12-28 07:07] aomsweet opened #272 "java.lang.OutOfMemoryError: Java heap space"
### Version

Java: 11
Quarkus: 1.10.5.Final
Vertx: 3.9.5
Vertx-redis-client: 3.9.5

Java command line:  `nohup java -Xms2048m -Xmx2048m -XX:+HeapDumpOnOutOfMemoryError --add-opens java.base/jdk.internal.misc=ALL-UNNAMED -Dio.netty.tryReflectionSetAccessible=true -jar provider-web-jl-1.0-SNAPSHOT-runner.jar &`

### Context

Deploy on cloud server, OutOfMemoryError will occur about every two days.
T

[2021-01-07 11:46] pmlopes commented on #272
@aomsweet It is unclear from the image where the leak is happening. To reduce the amount of buffers, the parser passes slice references to the user code, so the leak could be happening because either the parser is incorrectly holding a reference to them, or the client code is.

In order to properly look this up, can you prepare a small project and instructions, say for example, force the `Xmx` to

[2021-01-07 11:46] pmlopes commented on #272
@aomsweet Also can you try this out with `4.0.0`?

[2021-01-07 11:49] pmlopes opened #273 "Relax the PUBSUB requirements for one-shot operations"
Currently, all pubsub commands as reported by redis are not allowed on a connection-less mode. They all require a user to manually manage a connection.

This requirement is perhaps quite strict, and we should probably allow the commands:

* PUBLISH
* PUBSUB

To be used in a connection-less mode as their use does not require or imply the need for state.

/cc @zenios

[2021-01-12 13:25] vietj commented on #267
can we close this issue @pmlopes ?

[2021-01-13 19:07] pmlopes commented on #267
I'll close the issue as I can't reproduce it. Please reopen if more info is available.

[2021-01-13 19:08] #267 closed

[2021-01-22 15:46] valtercorreia commented on #238
Hey @MYDIH, even though I'm also using 4.0.0 connecting to Azure Redis does not work for me.

For example, the following code never prints anything in the console with the specified connection string.
[code]
I also allowed my IP on the Azure Redis firewall.
Do you remember if you had to do anything else for it to work?
Thanks in advance

[2021-01-22 15:52] MYDIH commented on #238
Hi @valtercorreia, I think I just swap the dependency to 4.0.0-milestone5 if I recall well, I didn't change the code itself ...

[2021-01-27 14:24] orxelm opened #274 "Cluster Pool Size Error"
Hi
The validation agains the maxPoolSize as described in the link, should be done agains the number of endpoints rather than the number of slots. The reason is that the number of slots can be larger than the number of nodes.
https://github.com/vert-x3/vertx-redis-client/blob/c2eeb3d3c322b3369d3a600149c1591e762fdce1/src/main/java/io/vertx/redis/client/impl/RedisClusterClient.java#L164

[2021-01-28 12:13] chulong commented on #223
hello ,How do you solve the problem of Intranet IP?

[2021-01-29 14:10] #273 closed

[2021-01-29 14:16] pmlopes commented on #274
@orxelm I'm not sure that would be correct. We can define a single `endpoint` to create a cluster connection, the expected behavior is to fetch all the slots from that endpoint connection and we must connect to all nodes. The reason is that it's the client responsibility to send commands to the right node. For example given a key, using it's zmodem hash it needs to be sent to the right node. Also

[2021-01-29 15:49] orxelm commented on #274
@pmlopes Thanks for the quick response.
See here: https://github.com/vert-x3/vertx-redis-client/blob/master/src/main/java/io/vertx/redis/client/impl/RedisClusterClient.java#L168

After the call for slots command, you get the cluster endpoints and connect them one by one.
This is the place where you know the number of nodes in the cluster, so i think this is the place you should validate them again

[2021-02-01 07:26] chulong opened #277 "In cluster mode, local IP is cached"
### Questions

 In cluster mode, if domain name proxy is used, local IP is cached. If IP changes, the cluster cannot be accessed

### Version

4.0.0

### Context

### Extra

![image](https://user-images.githubusercontent.com/11959857/106426958-79beed00-64a1-11eb-9c59-dcee8332107c.png)

[2021-02-01 10:42] #274 closed

[2021-02-03 02:50] chulong commented on #277
变更配置
Change configuration

[2021-02-15 15:29] pmlopes opened #279 "Add automated tests for TLS"
Currently we have no automated tests for TLS, we should use the docker image:

https://hub.docker.com/r/runnable/redis-stunnel/

for quickly assert that TLS works.

* Direct connection with `rediss`
* Upgrade connection if `ssl` is configured manually in the net client options

[2021-02-15 15:29] pmlopes commented on #279
This issue should then be backported to 3.9

[2021-02-18 15:51] pmlopes commented on #277
The endpoints lists are the output of the slots' response from redis itself. Redis doesn't reply with domain names but ip addresses. There's no transformation/resolution added by the client, so I'm not certain if this is a bug, but a feature so to day.

How would we know that the network changed?

[2021-02-18 18:28] pmlopes commented on #277
Here's where the information about the cluster is loaded from: https://redis.io/commands/cluster-slots

A example output is:
[code]

This means that redis itself is assuming "ipaddresses" so if the network rearranges itself the client must be recreated too.

[2021-02-25 02:46] lyt2012 opened #281 "In sentinel mod, sentinel connection has been subscribed but not unsubscribe when close"
### Version

Vertx-redis-client: 4.0.2

### Context

In SENTINEL mod, second reuse the sentinel connection but failed
![image](https://user-images.githubusercontent.com/25401139/109094704-624bea80-7755-11eb-83d2-83200e579a27.png)

Actual exception
![image](https://user-images.githubusercontent.com/25401139/109094815-92938900-7755-11eb-93e6-453d0af9a8d4.png)

### Extra

RedisSentinelClient.connect(

[2021-02-25 02:57] lyt2012 commented on #281
![image](https://user-images.githubusercontent.com/25401139/109096243-29614500-7758-11eb-8a3b-3581429826a1.png)
It's my solution

[2021-02-25 03:09] lyt2012 commented on #281
![image](https://user-images.githubusercontent.com/25401139/109097177-cffa1580-7759-11eb-9883-f90eac9bb710.png)
It's my options

[2021-03-12 07:35] #279 closed

[2021-03-12 10:29] pmlopes commented on #272
Closing as there seems to be no more activity on this issue. Re-open if needed.

[2021-03-12 10:29] #272 closed

[2021-03-12 10:30] pmlopes commented on #254
We do have thread checking tests ATM, will close for now. If the issue still persists, please reopen.

[2021-03-12 10:30] #254 closed

[2021-03-12 10:31] #277 closed

[2021-03-12 10:45] pmlopes commented on #281
@lyt2012 would you like to make a pull request and add a test for this?

[2021-03-12 10:49] pmlopes opened #284 "Prune "null" support"
Redis doesn't allow `null` in requests. Currently for compatibility reasons we encode `null` as the String `"null"`. In order to make the behavior consistent with `jedis` the official client, we should throw an `IllegalArgumentException` in that case.

In order to avoid breaking changes, for now we should have a JVM flag to enforce it as strict `null`:

[code]

* deprecate all `nullArg()`
* if the

[2021-03-12 12:17] lyt2012 commented on #281
@pmlopes ok, i'd like do this

[2021-03-13 07:47] lyt2012 commented on #281
@pmlopes
1. Hello, i fork the newest repository 4.0.4-snapshot, and i found the bug has been fixed.
2. The newest master code, creating a new connection each time, it looks like the connection pool is not working normally.
3. I could't sure if this is a bug, the implementation is a little bit complicated for me, please see the screenshots below.
4. My pool's max size is 2, but every time a connect

[2021-03-13 07:54] lyt2012 commented on #281
@pmlopes
1. Hello, i fork the newest repository 4.0.4-snapshot, and i found the bug has been fixed.
2. The newest master code, creating a new connection each time, it looks like the connection pool is not working normally.
3. I could't sure if this is a bug, the implementation is a little bit complicated for me, please see the screenshots below.
4. My pool's max size is 2, but every time a connect

[2021-03-13 07:58] lyt2012 commented on #281
@pmlopes
In short, it seems that the connection is not reused and a new connection is created every time, so there is no need to unsubscribe.

[2021-03-13 07:59] pmlopes commented on #281
The pool takes 2 config values, max size and max waiting. Max waiting are the number of get connections calls that are queued until a connection is available. You should set the 2 or you may be watching queuing.

If max waiting is negative then the waiting is unbounded

[2021-03-13 08:19] lyt2012 commented on #281
@pmlopes
ok, i'll close this issue first, because the bug can't be reproduced in the newest code

[2021-03-13 08:19] #281 closed

[2021-04-02 15:31] dratler commented on #195
Is this still open for the grab ?

[2021-04-06 06:23] vietj commented on #195
yes

On Fri, Apr 2, 2021 at 5:31 PM Shay Dratler ***@***.***>
wrote:

[2021-04-09 16:33] dratler commented on #195
Hu @vietj ,
where are the metrics been stored?

[2021-04-30 07:08] heubeck opened #288 "Improve connection pool related RedisClientOptions and NetClientOptions parameter documentation"
#### Describe the feature

The documentation regarding connection pooling is not sufficient and should be more detailed and explaining in my opinion.

#### Use cases

The configuration related to connection pooling supports the following parameters, please find my comments inline the code block:

[code]

#### Contribution

I would love to enhance the JavaDocs as well as the documentation by myself

[2021-04-30 08:10] vietj opened #289 "Pool idle timeout"
Currently the pool has a cleaner configuration but the connection always remain valid.

We should be able to configure the timeout and have `isValid` return false when a connection has not been used for a period that exceeds the idle timeout value.

[2021-04-30 08:25] vietj opened #290 "Usage of poolRecycleTimeout"
The `RedisOptions` define `poolRecycleTimeout` that is currently un-used.

It is not clear what this setting does and if that is related to the idle timeout (that is not implemented yet see https://github.com/vert-x3/vertx-redis-client/issues/289).

I believe this option should be deprecated and removed later unless we have a case for it.

[2021-04-30 08:29] heubeck commented on #288
We've found out in the discussion in [discord](https://discord.com/channels/751380286071242794/786238127105638420/837595525753995274) that there are some issues with this settings: https://github.com/vert-x3/vertx-redis-client/issues/289 and https://github.com/vert-x3/vertx-redis-client/issues/290

After this tickets are decided, the documentation should be adjusted.

[2021-05-02 13:14] cristian-com opened #291 "Handle Subscribe/Unsubscribe response messages"
## Describe the feature
Other kind of messages apart from "message" are not being handled by default. Currently only "messages" are being sent as Json objects to the even bus, for others a warning message is being printed. e.g: WARNING: No handler waiting for message: [subscribe, channel, 1]

Unless this is the expected behaviour I think all kind of messages should be handled in the same way.

All

[2021-05-05 16:09] cristian-com commented on #252
I don't think you example will work. To be able to receive notification of all shards you would have to be connected to all of them.

You can find it in the official [doc](https://redis.io/topics/notifications):

There is also a limitation of clustering mode not supporting PUB/SUB commands [here](https://vertx.io/docs/vertx-redis-client/java/#_connection_pooling)

A solution that haven't tested co

[2021-05-18 19:20] pmlopes commented on #288
Hi @heubeck all net client options are vertx-core specific, changing them is probably not a good idea as they would introduce a major breaking change to users.

The net client options are related to the TCP level of the connection, they are not related to redis directly. Which leaves us with:

[code]

Sadly `setPoolRecycleTimeout()` was left over during the migration to the new pool and does not h

[2021-05-20 11:56] pmlopes commented on #284
Initial step in commit: 05100c0f8ea4842e19992d5d52da55c4750db95d

[2021-05-26 22:55] pendula95 opened #293 "Intoroduce command timeout"
#### Describe the feature

While using the redis client there might be cases where sent Commands will hang because of the network issue or load issue on Redis server. In this cases sent commands will be left hanging without any response. Example is failover when redis cluster nodes will stop responding as no exception will be thrown. For this cases it would be good to introduce option to set comma

[2021-05-29 10:43] akshaypatidar-d11 commented on #290
In vertx `3.9.x` when we close a connection it was closed after `poolRecycleTimeout` period (`close` method in `RedisConnectionImpl.java`)
Is this removed in this vertx 4?

[2021-06-09 12:12] YuyuZha0 opened #294 "redis connect string can't support password contains '@'"
### Questions

`redis://[:password@]host[:port][/db-number]`
As described, How can I escape '@' character in password, or had some alternatives?

[2021-06-09 12:24] pmlopes commented on #294
@YuyuZha0 the connection string is a `URL` the correct way to encode `@` is to percent encode it: `%40` for example as in the test:

[code]

[2021-06-09 12:24] #294 closed

[2021-06-17 10:32] #195 closed

[2021-06-30 08:29] pmlopes opened #298 "Support redis REPPLICATION"
Add support to:

https://redis.io/topics/replication

More info:

https://docs.aws.amazon.com/AmazonElastiCache/latest/red-ug/Replication.Redis-RedisCluster.html

[2021-07-03 07:27] patrox opened #299 "Add support for Redis ZUNION command"
[`ZUNION`](https://redis.io/commands/zunion) command is not supported - as at the moment only a similar [`ZUNIONSTORE`](https://redis.io/commands/zunionstore) command is supported.

ZUNION Redis command should follow the same logic as ZUNIONSTORE, but the only difference is that it won't store the resulting set, but it will be returned to the client. Given this similarity between these two command

[2021-07-03 10:42] pmlopes commented on #299
@patrox we have some tooling for this, start a modern redis server 6.2.0 seems to be the case for this command. and run the js script in `tools`:

[code]

It should create the command helpers java classes from the running server.

[2021-07-03 10:43] pmlopes commented on #299
In the meantime you can still use the direct `send()` command by crafting the missing command manually.

[2021-07-03 10:44] patrox commented on #299
Thank you @pmlopes, as this is what I was about to ask, since I saw a lot of comments about auto-generated code.

I'll give it a try, and will come back with the results.

[2021-07-03 10:48] patrox commented on #299
Yep, this is a short term plan

[2021-07-05 10:06] pendula95 opened #300 "Support Distributed locks with Redis"
Add support to:

https://redis.io/topics/distlock

[2021-07-05 10:31] pendula95 commented on #300
I have misinterpreted the usage of Lock for Redis. As this feature is purely business logic related and just uses Redis as implementation for the lock this request can be discarded as vertx-redis client currently aims to cover only Redis protocol and not potentials usecases behind. Your call @pmlopes

[2021-07-05 11:03] pmlopes commented on #300
I think we could implement this purely as a helper class as it could open the door to other things, for example, a redis backed cluster manager, as it would provide the basic foundation blocks needed for such implementation.

[2021-07-05 11:21] pmlopes commented on #299
Fixed with: https://github.com/vert-x3/vertx-redis-client/commit/8d783078dbcf369d2a58197925bbf31c4a2594e3

[2021-07-05 11:21] #299 closed

[2021-07-05 11:33] machi1990 commented on #299
@pmlopes thanks for the fix. Do you have a rough timeline of when we'll have a new release?

/cc @patrox

[2021-07-21 18:38] machi1990 opened #302 "Allow database selection in sentinel mode"
### Version

`4.1.2`

### Context

This is was reported by a Quarkus user in https://github.com/quarkusio/quarkus/issues/18742. See https://github.com/quarkusio/quarkus/issues/18742#issuecomment-884338679 for additional context.

/cc @pmlopes

### Do you have a reproducer?

See the linked issue.

[2021-07-21 18:39] machi1990 commented on #302
@pmlopes I opened it as a bug, it is more like a feature request from your comment in the issue so please do triage as you feel appropriate

[2021-07-26 01:47] felixputera opened #303 "Create a higher-level Redis client wrapper that handles connection recovery"
#### Read me

Read this first before creating an issue:

- do not use this issue tracker to ask questions, instead use one of these [channels](https://vertx.io/community/). Questions will likely be closed without notice.
- you shall create a feature request only when it is general purpose enough.
- make sure that the feature is not already

#### Describe the feature

This is suggested by @pmlopes

[2021-07-26 01:48] felixputera commented on #303
As an aside, I know that Node.js Redis clients (like https://github.com/NodeRedis/node-redis and https://github.com/luin/ioredis) have this feature implemented too.

[2021-07-27 09:28] aloserman opened #304 "How to use vertx-redis-client well? The version is 4.1.2"
When I wrote the following code and found that a large amount of data entered, it could not work properly. The cause is as follows: Future{cause=Connection pool reached max wait queue size of 200}; All data is discarded。 How can we ensure that a piece of data is not lost and use it correctly. I did not find a good way to use it in the official

        @Override
        public void open(Configurat

[2021-07-27 10:54] pmlopes commented on #304
@aloserman you're used the pooled mode, which means that for each command, a connection is acquired from the pool, the command executed, and the connection returned to the pool.

Given your error, it seems that you're invoking the `invoke` method with a high frequency, the frequency is so high that the bottleneck becomes getting and returning the connection.

To solve this, you should reuse the co

[2021-07-27 13:05] pmlopes commented on #293
One way to address this is to use:

[code]

Add idle connections will close after 30s of idling. This is what other libraries like jedis do when you configure the timeout in the client.

The thing is that this config is per server, not connection so it needs to be used carefully.

[2021-07-28 03:16] aloserman commented on #304
Through your guidance, the code is like this, but there is an exception that cannot be serialized. How can I solve it?
`            @Override
            public void open(Configuration parameters) throws Exception {
                super.open(parameters);

                vertx = Vertx.vertx();
                options.setType(RedisClientType.STANDALONE)
                        .setMaxPoolSize(30)

[2021-07-28 05:49] aloserman commented on #304
When the data emit speed is very fast, the client will be blocked and no data will be sent out. How can we ensure that when the processing reaches the bottleneck, the data will not be discarded and can be sent normally.

[2021-08-23 12:31] norbald opened #306 "Optimize RedisClusterClient connect operations"
#### Describe the feature
RedisClusterClient has poor performance in high concurrency scenarios.
Beacuase RedisClusterClient sends `CLUSTER SLOTS` to endpoints[0] for slots query every time it call `connect()`

This will have the following effects:

1. The `CLUSTER SLOTS` command is issued for each connection to increase the CPU load of the endpoints[0] . In my case, the conventional query command

[2021-08-25 13:14] pmlopes commented on #306
Hi @norbald, I think this is a usability issue. We should document that when using vert.x in cluster mode (cluster client) users, should manage their connection. The expectation is that a user would call `connect()` once and keep the connection alive for a long period, exactly to avoid the issues you're observing.

A second point is that, probably, we should do some random shuffle of the configura

[2021-09-16 13:21] adoignies opened #307 "Sentinel Mode : Error getting master address: ERR only (P)SUBSCRIBE / (P)UNSUBSCRIBE / PING / QUIT allowed in this context"
### Version

Version 4.1.2

### Context

When requesting redis via the sentinel mode, the request works 10 times and then failed in error.

After investigation, the problem is caused by the master addr name retrieval:
`
conn.send(cmd(SENTINEL).arg("GET-MASTER-ADDR-BY-NAME").arg(masterName), getMasterAddrByName -> {
...});
`

The failed cause is "ERR only (P)SUBSCRIBE / (P)UNSUBSCRIBE / PING / QUIT

[2021-09-16 13:34] adoignies commented on #307
If I reproduce it with a simple netcat connection

Connection to 127.0.0.1 26379 port [tcp/*] succeeded!
PING
+PONG
SUBSCRIBE +switch-master
*3
$9
subscribe
$14
+switch-master
:1

PING
*2
$4
pong
$0

sentinel GET-MASTER-ADDR-BY-NAME mastername
-ERR only (P)SUBSCRIBE / (P)UNSUBSCRIBE / PING / QUIT allowed in this context
`

[2021-09-16 16:12] adoignies commented on #307
With further investigations, it seems that the subscribe request and the get-master-addr are done each time.
Therefore it seems the sentinelConnection used for subscribing is hang over back to the pool, and then used at the end for the get-master-addr and then resulting in the "only (P)SUBSCRIBE / (P)UNSUBSCRIBE / PING / QUIT allowed in this context".

For test, if I remove the subscribe part in R

[2021-09-18 09:53] pmlopes commented on #307
@adoignies thanks for the detailed report. I am thinking that we need to add tests to verify if we are using a pool and a connection is in pub/sub mode, when the connection is recycled that it leaves that mode (or is forcefully closed).

[2021-09-22 12:35] pmlopes commented on #307
@adoignies I'm having trouble to reproduce this. I've created the test:

[code]

But after the 10 times it didn't fail. Can you make a reproducer?

[2021-09-22 20:18] adoignies commented on #307
The behaviour of the SentinelClient seems to create a connection with subcribe command and then put it to the connections pool. When all the pool has been filled it grabbed an already used connection on which a subscribe command is being played, and play a get-master-addr-by-name which resulted in an error on redis side. Then the same process is repeated for the next sentinel nodes.
So it fails af